* {
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    margin:0;
    font-size:16px;
    line-height:1.5;
}

.logo {
    max-width:100%;
    height:auto;
    background-color: #556b2f;
    padding-left: 10px;
}
nav a,
footer a {
    color:#fff;
    text-decoration: none;
}
nav ul,
footer ul {
    list-style-type: none;
    margin:0;
    padding-left:10px;
}

.nav{
    background-color: #556b2f;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.2;
}

.register {
    color:#556b2f;
    font-size: 40px;
    margin-bottom: 0;
}

.account {
    color: rgba(0,0,0,0.8);
}

.account a {
    text-decoration: none;
    color: #556b2f;

}

fieldset {
    border: 2px solid grey;
    border-radius: 25px;
    align-items: center;
    margin-left: 20px;
    display:block;
    justify-content: center;
    box-sizing: border-box;

}
input [type=text],
input [type=phone],
input [type=tel],
input [type=password] {
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
}
.agreement {
  color: #556b2f;
  font-size: 20px;
  text-transform: bold;
}

.sign-up {
  background-color: #556b2f;
  color:#fff;
  margin: 4px 2px;
  padding: 20px 32px;
  text-decoration:none;
} 

label {
    justify-content: center;
    align-items: center;
}

footer {
    padding: 20px, 35px;
    background-color: #556b2f;
}

footer h4 {
    color:#fff;
}

::placeholder {
    color:#556b2f;
    text-transform: bold;
    font-size: 18px;
}

footer #email {
    width:fit-content;
    padding:10px 10px;
    box-sizing:border-box;
    color:#556b2f;
    border: 2px solid #fff;
    height:60px;
    position: relative;
    }
    
     footer .button {
        border: 2px solid #fff;
        box-sizing: border-box;
        height:60px;
        width:70px;
        color:#556b2f;
    }

    .copyright {
        align-items: center;
        display: flex;
        flex-direction:column;
    }

    .fruithill {
        margin-bottom: 0;
    }

    .rights {
        margin-top: 0;
    }

@media screen and (min-width: 768px) {
.nav {
    display:flex;
    flex-direction: row;
    height:fit-content;
    overflow: hidden;
}

nav img {
    position:relative;
}
.nav-list {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 30px;
    display: flex;
flex-direction: row;
    float: left;

}
nav li {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 0;
    padding:0;
    text-align: top;
    justify-content: center;
}

.wrapper {
    display:flex;
    float:left;
}

form {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:1em;
    line-height: 1;
}

}