body {
    margin: 0px;
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
}

.logo {
    background-color:palevioletred;
    color:white;
    height:70px;
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    padding: 14px 60px; 
    padding-top: 30px;   
}

.headerc li{
    display:inline-block;
    margin-left: 10px;
}
    
.headerc li a{
    color:white;
    text-decoration:none;
}

.contactpage1 {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    text-align: center;
}
.firstcolumn h2{
    font-size: 25px;
    font-weight: bold;
}

.firstcolumn p{
    font-size: 18px;
    font-weight: bold;
}

.firstcolumn ul li {
    display: inline-block;
    color: white;
    text-decoration:none;
    margin:10px;
}
  
.firstcolumn form{
    border:2px solid palevioletred;
    padding-bottom:10px;
    height:550px;
}

#message {
    border-bottom: none;
}
  
.firstcolumn input{
    border:none;
    border-bottom:2px solid palevioletred;
    width:85%;
}

.form img{
    margin: 0px;
}
    
#comments {
    width:85%;
}
    
#send{
    float:right;
    margin-right:45px;
    width:70px;
    background-color:palevioletred;
    color:white;
    height:40px;
}

footer {
    padding-top:10px;
    padding-bottom: 20px;
    color:white;
    background-color:palevioletred;
    margin-top: 80px;
    font-size: 18px;
}

.inquiry input{
    color:palevioletred;
    height:40px;
    padding: 0 50px;
    margin-bottom:5px;
}
  
  
footer .contactpage2 {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
  
footer .contactpage2 div:not(:first-child) {
    text-align: center;
}

.inquiry ul li a img {
    margin-left:5px;
}
    
footer #copyright {
    text-align: center;
    margin: 0;
}

.inquiry {
    height:140px;
}

    
#media {
    padding: 0;
}
    
#media li {
    display: inline-block;
}
    
#urls  {
    padding-left: 0;
}
    
#urls li {
    margin-bottom: 10px;
}
    
#urls li a{
    color: #fff;
    text-decoration:none;
}

.signup {
    height:40px;
    color: palevioletred;
    width:70px;
    background-color:white;
}
  
#email{
    color:palevioletred;
    width:250px;
    height:40px;
    margin-bottom:5px;
}

@media (max-width: 992px) {
.contactpage1{
    display: block;
}
    
.logo {
    display: block;
    height: 100px;
    padding: 22px 10px;
}
    
.logo h2{
    margin: 0;
}
    
.headerc {
    padding: 0;
    margin-top: 10px;
}
    
.logo ul li {
    display: block;
    margin: 0;
}
    
#email {
    padding: 0 30px;
    font-size: 20px;
    width: 500px;
}
    
footer .contactpage2 {
    display: block;
    padding: 0 20px;
}
    
footer .contactpage2 div:not(:first-child) {
    text-align: inherit;
}
    
footer .info div {
    margin-left: 20px;
}
    
footer #copyright {
    text-align: inherit;
    margin-left: 40px;
}
    
.inquiry {
    height: auto;
}
    
#urls {
    padding: 0;
}
    
ul li a{
    margin-left: 0;
}
}


