body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
input:focus, button:focus{   
    border: none;
}
.mobile-navbar{
    display: none;
}
/* Navbar Section */
.navbar, .mobile-navbar{
    background: #28104e;   
    color : white;
}
.navbar{
    padding: 14px 60px;
    height: 50px
}
.navbar h3{
    float: left;
    text-transform: uppercase;
} 
.navbar .nav-links{
    float: right;
    margin-top: 16px;
}
.navbar li {
    display: inline-block;
}
.navbar li:not(:last-child){ 
    margin-right: 80px;
}
.navbar a, .mobile-navbar a {
    color: white;
}
.navbar a:hover{
    color: #8e83d1;
}
/* Product Details Section */
.product-box {
    width: 100%;
    display: flex;
}
.col-4{
    width: 33.3%;
    margin-right: 25px;
}
.col-8{
    width: 66.6%;
    margin-left: 25px;
}
.img-box{
    border: 1px solid #707070;
    text-align: center;
    padding: 30px 0;
}
.img-box img{
    width: 60%;
}
.product-section{
    background: #ffffff;
    padding: 40px 60px;
}
.product-name, .product-description h3{
    text-transform: uppercase;
}
.product-details{
    padding: 30px 0;
}
.product-details input {
    padding-left: 16px;
    height: 30px;
    border-radius: 0;
    border: 1px solid #707070;
    width: 50px;
}
.product-name{
    font-size: 23px;
}
.product-details p:not(:first-child){
    font-size: 20px;
}
.buy-btn{
    background-color: #37a048;
    padding: 12px 14px;
    border-radius: 15px;
    font-size: 15px;
    color:white;
    border: none;
}
.buy-btn:hover{
    background-color: #217c30;
}
.product-description{ 
    color: #5f5f5f;
}
.product-description p{
    line-height: 1.5; 
}
/* Related Products Section */
.other-products{
    padding: 40px 60px;
    background-color: #ebebeb;
}
.other-products .row{
    display: flex;
}
.other-products img{
    width:65%;
    display: block;
    margin: auto;
}
.other-products h3{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 36px;
    color: #5f5f5f;
}
.other-products p{
    text-align: center;
    color: #5f5f5f;
}
.other-products .col-4:last-child{
    margin-right: 0px;
}
.other-products .col-4:not(:first-child){
    margin-left:25px;
}
.other-products .col-4{
    background-color: white;
    padding: 40px 30px 30px 30px;
}
/*Footer Section*/
.footer{
    background-color: #28104e;
    padding: 20px 40px;
}
.footer p{
    color: #fcf8f8;
}
.footer .links{
    margin-top: 16px;
}
.footer .links li:not(:first-child){
    margin-top: 12px;
}
.footer .links a{
    color: white;
}
.footer .row{  
    display: flex;
    flex-wrap: wrap;
}
.footer .connect ul li, .contact-box ul li{
    display: inline-block;
}
.footer input{
    border: 1px solid #707070;
    color: #28104e;
    background-color: white;
    width: 210px;
    height: 26px;
    border-radius: 0;
    padding-left: 15px;
}
.footer input::placeholder, .footer #submit{
    color: #28104e;
    font-family: 'Montserrat', sans-serif;
}
.footer #submit{
    border: 1px solid #707070;
    background-color: white;
    width: 80px;
    height: 30px;
    border-radius: 0;
    text-transform: uppercase;
}
.footer .connect li{
    margin-right: 15px;
}
.copyright{
    margin-top: 30px;
    text-align: center;
}
.footer .col-4{
    margin-right: 0px;
}
/* Contact-Us Page */
.contact-box .left, .signup-box .left{
    width: 53%;
}
.contact-box .right, .signup-box .right{
    width: 38%;
}
.contact-box h3, 
.contact-box p, 
.contact-box label,
.signup-box h1,
.signup-box p,
.signup-form label{
    color: #5f5f5f;
}
.contact-box, .signup-box{
    padding: 40px 40px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}
.contact-box .left{
    text-align: center;
}
.contact-box ul li{
    padding: 10px;
}
.contact-form{
    border: 1px solid #707070;
    padding: 20px 40px;
}
.contact-form textarea{
    padding: 4px 4px 4px 8px;
    width: 95%;
    border: 1px solid #707070;
}
.contact-form input, .contact-form::placeholder, .contact label{
    font-family: 'Montserrat', sans-serif;
    color: #5f5f5f;
    font-size: 17px;
}
.contact-form input{
    border-bottom: 1px solid #5f5f5f;
    width: 97%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 30px;
}
.contact-form span {
    margin-bottom: 30px;
}
.contact-form button{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-left: auto;
    padding: 14px 28px;
    color: #ffffff;
    background: #28104e;
    border-radius: 4px; 
}
.contact-form button:hover{
    background-color: #3a1573;
}
.contact-form p, .contact-form h3{
    text-align: center;
}
.signup-box h1{
    color: #28104e;
    font-weight: bold;
    font-size: xxx-large;
}
.signup-box .left p{
    font-size: larger;
}
.signup-box .left, .signup-box .right{
    margin-left: auto;
    margin-right: auto;
}
.signup-box .left{
    padding-top: 119px;
    padding-bottom: 119px;
}
.signup-form input{
    width: 97%;
    padding-left: 8px;
    height: 30px;
    border: 2px solid #5f5f5f;
    border-radius: 10px;
    margin-bottom: 5px;
}
#terms-agreement{
    height: 16px;
    border-radius: 0;  
    width: auto;
    text-align: center;
}
label[for="terms-agreement"]{
    color: #28104e;
    font-weight: bold;
}
.signup-form{ 
    border: 1px solid #707070;
    border-radius: 23px;
    padding: 20px 30px;
}
.checkbox{
    text-align: center;
    margin: 20px 0;
}
.signup-form button{   
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 14px 36px;
    color: #ffffff;
    background: #28104e;
    border-radius: 10px;  
    margin-left: auto;
    margin-right: auto;
}
.signup-form button:hover{
    background-color: #3a1573;
}
.signup-box .left .content{
    width: 75%;
    margin: auto;
}
.disable {
    background-color: gray;
    cursor: not-allowed;
    pointer-events: none;
}
.error-block {
    font-size: 14px;
    color: red;
    display: block;
}