@media  only screen and (min-device-width: 200px) { 
    *{
        margin:0;
        border:0;
        box-sizing:border-box;
    }
#note {
     text-align:center;
    line-height:1.4;
    }
.error-block {
    font-size:15px;
    color:red;
    display:block;
    text-align:center;
}
body {
        font-size: 22px;
         font-family: 'Montserrat', sans-serif;      
    }
     #header {
        background-color: yellowgreen;
        padding: 15px;
        color:white; 
    }
    nav a {
        text-decoration: none;
        color: white;
        line-height:1.75;
    }
    #numbers {
        text-align:center;
        margin-top:20px;
        line-height:1.5;
        font-size:20px;
    }
    #support {
        text-align:center;  
        line-height:1.5;
    }    
  #colC {
      text-align:center;
      padding:20px;
  }
  .Icons {
      margin:5px;
      margin-top:10px;
  }
  #box { 
        margin-top:40px;
        border:solid 1px black;
        margin-left:20px;
        margin-right:10px;
        width:90%;
        margin-bottom:20px;
  }
  #info {
    font-size:22px;
    text-align:center;
    margin-bottom:15px;
  }
 .email_logo {
   margin-left:45%;
   margin-top:20px;
   margin-bottom:20px;
}
#full {
    margin-left:10px;
}
#fullName {
        border-bottom:solid 1px;
        margin:20px;
        width:55%;
        padding:10px;
       }
#em {
    margin-left:10px;
}
#mail {
        border-bottom:solid 1px;
        margin:20px;
        width:50%;
        padding:10px;
       }
#sub {
        margin-left:10px;
    }
#subject {
        border-bottom:solid 1px;
        margin:20px;
        width:60%;
        padding:10px;
       }
#message {
         border:solid 1px;
            margin-left:20px;
            margin-top:5px;
            width:85%;
          }
.message{
         margin-left:20px;
    }
#send {
        border:solid 1px;
        background-color:yellowgreen;
        color:white;
        width:30%;
        padding:8px;
        border-radius:7px;
        margin-left:60%;
        font-size:20px;
        margin-bottom:15px;
      }
footer {
        background-color:yellowgreen;
          color:white;
          padding:20px 
    }
.nav {
        line-height:1.6;
        margin-bottom:30px;
      }
 .nav a {
          text-decoration:none;
          color:white;
      }
 .email {
        display:flex;
           margin-top:15px;
           margin-bottom:15px;
    }
#email {
        width:70%;
        margin-right:10px;
        line-height:2.5;
    }
#Submit {
       width:23%;
       color:yellowgreen;
    }
::placeholder {
        color:yellowgreen;
        font-size:15px;
    }
#Icons{
       margin-bottom:10px;   
    }
.logo {
        margin:7px
}
#Copyright {
    text-align:center;
    } 
}


 @media  only screen and (min-device-width: 600px) {
     #header {
            display:flex;
            justify-content:space-between;
        } 
 #nav {
            display:flex;
            justify-content: space-around;
            width:50%;
        } 
 #box {
            width:80%;
            margin-left:10%
          }
#fullName {
             margin:30px;
            }
 #mail {
             margin:30px;
            }
#subject {
             margin:30px;
            }
#message {
                 margin-left:8%;
                 margin-top:8px;
                 width:80%;
                 line-height:2;
          }
 #send {
          width:20%;
          margin-left:68%
        }
#footer {
            display:flex;
            justify-content:space-around;
            flex-wrap:wrap; 
        }   
#Icons{
            margin-left:40%;
        } 
#Copyright {
            display:flex;
            justify-content:center;
            margin-top:20px;
        }
#email {
           width:100%;
            height:40px;
            }
 #Submit {
                height:40px;
                width:30%;
            }    
    }

 @media  only screen and (min-device-width: 992px) {
    #nav{
            width:50%; 
         } 
 #contact {
            display:flex;
          } 
 #ColB {
            display:flex;
            flex-direction:column;
            margin-top:12%;
            width:45%;
          } 
     #box {
            width:35%;
            margin-top:8%;
            margin-right:5%;
            margin-bottom:30px;
          } 
 #full {
            font-size:25px;
        
          }  
 #em {
             font-size:25px;
         } 
     #sub {
             font-size:25px;
         } 
    .message {
        font-size:25px;
    }
    #footer {
            display:flex;
            flex-wrap:nowrap;
            justify-content:space-evenly;
          }
     #Icons {
            margin-left:70px;
          }
     .email{
            margin-right:0%;
          }
     #image {
            width:45%;
          } 
body{
    font-size:15px;
}
}        