


 @media  only screen and (min-device-width: 200px) { 
    *{
        margin:0;
        border:0;
        box-sizing:border-box;
    
    }
    #header {
        background-color: yellowgreen;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        color:white; 
        font-size:15px;
        width:200%;
    
    
    }
    h2 {
        margin-left:20px
    }
    nav a {
        text-decoration: none;
        color: white;
        margin-left:20px;
        line-height:1.5;
    }
    #nav {
        margin-bottom:30px
    }
    body {
        font-size: 15px;
         font-family: 'Montserrat', sans-serif;
         margin-right:20px;
    }
    H1 {
        color:yellowgreen;
        flex-wrap: wrap;
        font-size: 20px;
        margin-left:40px;
        margin-right:40px;
    }
    #container {
        text-align:center;
        margin-left:40px;
        margin-bottom:40px;
        margin-top:30px;
        font-size:15px;
    }
    /* This section changes the colour of the signin link to yellowgreen */
    #signin :nth-last-of-type(1) {
        color:yellowgreen;
    }
    #signin {
        margin-top:50px;
    }
    #form {
        border:solid 1px;
        padding:40px;
        font-size:15px;
        margin-left:30px;
    /*     margin-right:30px; */
        border-radius: 20px;
    }
    #firstname {
        width:100%;
        border:solid 2px;
        font-size:20px;
        margin-top:15px;
        border-radius:18px;
    }
    #lastname {
        width:100%;
        border:solid 2px;
        font-size:20px;
        margin-top:15px;
        border-radius:18px;
    }
    #othername {
        width:100%;
        border:solid 2px;
        font-size:20px;
        margin-top:15px;
        border-radius:18px;
    }
    #phonenumber {
        width:100%;
        border:solid 2px;
        font-size:20px;
        margin-top:15px;
        border-radius:18px;
    }
    .mail {
        width:100%;
        border:solid 2px;
        font-size:20px;
        margin-top:15px;
        border-radius:18px;
    }
    #password {
        width:100%;
        border:solid 2px;
        font-size:20px;
        margin-top:15px;
        border-radius:18px;
    }
    #agree {
        width: 20px;
        height: 10px;
        color:black
    }
    /* This section is for the signup button */
    .submit {
        font-size: 15px;
    /*     padding:10px; */
        width:50%;
        text-align:center;
        color:white;
        background-color:yellowgreen;
        margin-left:220px;
        line-height:2;
        border-radius:8px;
        margin-left:50px;
    }
    #footer {
        line-height:1.5;
        font-size:15px;
       
    }
    .nav {
      color: white;
      margin-left:30px; 
      flex-direction: column;
      display:flex;
      line-height:1.5;
    }
    .nav a {
      text-decoration:none;
      color:white;
      
      
    }
    #newsletter {
      margin-left:30px;
      margin-top:20px;
    } 
    #N {
        margin-bottom:20px;
      }
    .email {
      display:flex;
      margin-right:30px; 
    }
    #Submit {
      border: solid 1px;
      width: 70px;
      height:fit-content;
      background-color:white;
      color:white;
      padding: 5px;
      color: yellowgreen;
      margin-left: 5px;
    }
    #email {
      padding:5px;
      width:200px;
      height:fit-content;
    }
    ::placeholder {
      color: yellowgreen;
      text-align: left;
      font-size:15px;
      padding:5px;
    }
    .icons {
      width:30px;
      height:20px;
      object-fit: contain;
      border-radius: 9px;
    /*   margin: 9px 8px 9px; */
    }
    #Icons {
      margin-left:40px;
      margin-top:40px;
      font-size:15px;
      margin-bottom:20px
    }
    /* This is for the whole footer */
    footer{
      background-color:yellowgreen;
      color:white;
      margin-top:30px;
      width:130%;
    }
    #Copyright {
      text-align:center;
      padding-bottom:20px;
      font-size:15px;
      margin-right:100px
    }
    }
    
    

    @media  only screen and (min-device-width:481px) and (max-device-width:780px) {
        *{
           margin: 0;
           border: 0;
           box-sizing: border-box;
       }
       #header {
           background-color: yellowgreen;
   /*         padding: 30px; */
           display:flex;
           flex-direction:row;
/*            justify-content:space-between; */
           font-family: 'Montserrat', sans-serif;
           color:white; 
           font-size:15px;
/*            width:110%; */
       }
       h2 {
           margin-left:20px;
           line-height: 1;
       }
       nav a {
           text-decoration: none;
           color: white;
           margin-left:90px;
           line-height:1;
           font-size:15px;
       }
       #nav {
           margin-bottom:5px;
           display:flex;
           margin-left: 70px;
           
       }
       body {
           font-size: 10px;
            font-family: 'Montserrat', sans-serif;
/*             width:110%; */
   
       }
   H1 {
           color:yellowgreen;
           flex-wrap: wrap;
           font-size: 50px;
           margin-left:110px;
           margin-right:100px;
           text-align: center;
   }
   #container {
           text-align:center;
           margin-left:40px;
           margin-bottom:40px;
           margin-top:30px;
           font-size:20px;
   }
   /* This section changes the colour of the signin link to yellowgreen */
   #signin :nth-last-of-type(1) {
           color:yellowgreen;
       }
   #signin {
           margin-top:20px;
       }
       #form {
           border:solid 1px;
           padding:20px;
           font-size:20px;
           margin-left:40px;
           margin-right:20px;
           border-radius: 20px;
/*            width:80%; */
       }
       #firstname {
           width:100%;
           border:solid 2px;
           font-size:30px;
           margin-top:10px;
           border-radius:18px;
       }
       #lastname {
           width:100%;
           border:solid 2px;
           font-size:30px;
           margin-top:10px;
           border-radius:18px;
       }
       #othername {
           width:100%;
           border:solid 2px;
           font-size:30px;
           margin-top:10px;
           border-radius:18px;
       }
       #phonenumber {
           width:100%;
           border:solid 2px;
           font-size:30px;
           margin-top:10px;
           border-radius:18px;
       }
       .mail {
           width:100%;
           border:solid 2px;
           font-size:30px;
           margin-top:10px;
           border-radius:18px;
       }
       #password {
           width:100%;
           border:solid 2px;
           font-size:30px;
           margin-top:10px;
           border-radius:18px;
       }
       #agree {
           width: 30px;
           height: 20px;
           color:black;
           margin-left:70px
       }
       /* This section is for the signup button */
   .submit {
       font-size: 20px;
       padding:10px;
       text-align:center;
       color:white;
       background-color:yellowgreen;
   /*     margin-left:220px; */
       margin-left:200px;
       width:150px;
       height:60px;
   }
   #footer {
    display: flex;
    justify-content: space-between;
/*     width:100% */
 }
/* This section targets the navigation links at the footer */
.nav {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 40px;
    margin-top:50px;
    
} 
/* This targets the nav links at the footer by removing the underline and changing the colour*/
.nav a {
 text-decoration: none;
  color:white;
  line-height: 1.75;
  font-size: 20px;
  margin-left:10px
}
#newsletter  {
     margin-top:30px;
/*         margin-right:80px; */
}
#N {
 margin-bottom:10px;
 font-size: 25px;
 margin-left:0px;
}
.email {
display:flex;
margin-right:200px;

}
#Submit {
 border: solid 1px;
 width: 100px;
 background-color:white;
 color:white;
 color: yellowgreen;
 margin-left: 10px;
 font-size:20px;
 height:fit-content;
 line-height:1.5;
}
#email {
 width:300px;
 font-size:20px;
 border:solid 1px;
 height:fit-content;
 line-height:1.6;
 margin-left:0px

}
::placeholder {
 color: yellowgreen;
 text-align: left;
 padding:5px;
 font-size:20px
}
.icons {
    width:40px;
    height:30px;
    object-fit: contain;
    border-radius: 9px;
    margin: 9px 8px 9px;
   }
   #Icons {
    font-size:20px;
    margin-bottom:20px;
    text-align:center;
   }
   /* This is for the whole footer */
   footer{
    background-color:yellowgreen;
    color:white;
    margin-top:50px;
    height:fit-content;
   } 
   #Copyright {
    text-align:center;
    padding-bottom:20px;
    font-size:20px;
    margin-left:0px;
    margin-top:0px;
   }
   }
  @media  only screen and (min-device-width: 781px) and  (max-width:1400px) {
    *{
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
    #header {
        background-color: yellowgreen;
        /* padding: 20px; */
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        font-family: 'Montserrat', sans-serif;
        color:white; 
        font-size:12px;
        max-width:100%;
    }
    h2 {
        margin-left:40px;
        line-height: 1.6;
    }
    nav a {
        text-decoration: none;
        color: white;
        margin-left:20px;
        line-height:1.6;
        font-size:20px;
        /* margin-right:20px; */
    }
     #nav {
        margin-bottom:5px;
        display:flex;
    } 
    .container {
    display: flex;
       /* margin-left: 40px; */
       justify-content: space-around;
       border: thin;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }
    H1 {
        color:yellowgreen;
/*       flex-wrap: wrap; */
        margin-left:100px;
        margin-right:100px;
        font-size:50px;
        margin-bottom:20px
}
#container {
        margin-left:60px;
        margin-bottom:40px;
        margin-top:200px;
        font-size:20px;
        line-height:1.2;
        border:solid 1px hidden;
        width:60%;
        height:80%;
        margin-right:250px;
}
   /* This section changes the colour of the signin link to yellowgreen */
   #signin :nth-last-of-type(1) {
    color:yellowgreen;
}
#signin {
    margin-top:50px;
}
#form {
    border:solid 1px;
    padding:10px;
    font-size:10px;
    border-radius: 20px;
    margin-right:80px;
    margin-top:30px;
    width: 30%;
    height:fit-content;
} 
#firstname {
    width:100%;
    border:solid 1px;
    font-size:10px;
    margin-top:5px;
    border-radius:10px;
    line-height: 3;
}
#lastname {
    width:100%;
    border:solid 1px;
    font-size:10px;
    margin-top:5px;
    border-radius:10px;
    line-height:3;
}
#othername {
    width:100%;
    border:solid 1px;
    font-size:10px;
    margin-top:5px;
    border-radius:10px;
    line-height:3;
}
#phonenumber {
    width:100%;
    border:solid 1px;
    font-size:10px;
    margin-top:5px;
    border-radius:10px;
    line-height:3;
}
.mail {
    width:100%;
    border:solid 1px;
    font-size:10px;
    margin-top:5px;
    border-radius:10px;
    line-height:3;
}
#password {
    width:100%;
    border:solid 1px;
    font-size:10px;
    margin-top:5px;
    border-radius:10px;
    line-height:3;
}
#agree {
    width: 20px;
    height: 10px;
    color:black;
    /* text-align: center; */
    margin-left: 80px;
    font-size: 10px;
}
/* This section is for the signup button */
.submit {
font-size: 10px;
padding:10px;
width:fit-content;
text-align:center;
color:white;
background-color:yellowgreen;
margin-left:150px;
line-height:0.5;
border-radius:5px;
}
#foot {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* margin-top:50px; */
    margin-right:40px;
} 
#footer {
    display:flex;
}
/* This section targets the navigation links at the footer */
.nav {
    display: flex;
    flex-direction: column; 
    color: white;
    margin-left: 40px;
    margin-right:80px;
} 
/* This targets the nav links at the footer by removing the underline and changing the colour*/
.nav a {
    text-decoration: none;
     color:white;
     /* line-height: 1;
     font-size: 15px; */
}

 #newsletter  {
        margin-top:20px;
} 
#N {
    margin-bottom:20px;
    font-size: 15px;
  }
.email {
  display:flex;
   
}
#Submit {
  border: solid 1px;
  width: 100px;
  background-color:white;
  color:white;
  color: yellowgreen;
  line-height:1.5;
  margin-left: 10px;
  font-size:15px;
  height:fit-content;
}
#email {
  width:500px;
  font-size:5px;
  border:solid 1px;
  line-height: 6;
  height:fit-content;
}
::placeholder {
    color: yellowgreen;
    /* text-align: left; */
    padding:5px;
  }
  .icons {
    width: 2px;
    height:20px;
    object-fit: contain;
    border-radius: 9px;
    margin: 9px 5px 5px;
  }
  #Icons {
    font-size:15px;
    margin-bottom:20px;
    text-align:center;
    margin-top:20px;
  } 
   /* This is for the whole footer */
 footer{
    background-color:yellowgreen;
    color:white;
    margin-top:50px;
    /* width:100%; */
}
#Copyright {
    text-align:center;
    padding-bottom:20px;
    font-size:15px;
}
}


  