* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
 
body {
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    background: white
}

a {
    color: white;
    text-decoration: none;
    margin: 0 50px;
    display: inline-block;
    float: right;
}

.header {
    background-color:rgb(100, 121, 8);
    font-size: 20px;  
    height: 90px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-link {
    margin-top: 30px;
    margin-left: 50%;
}

.logo {
    margin-top: 15px;
    margin-left: 10px;
}

.secondhead {
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
}

.thirdhead {
    font-size: 15px;
    margin-bottom: 50px;
}

.list3 {
    list-style-type: none;
    columns: 4;
    width: 400px;
}

.fourthhead {
    margin:0 auto;
    font-size: 15px;
    text-align: center;
    display: table;
    margin-bottom: 30px;
}

.formleft {
    text-align: left;
    border: none;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.formleft input[type=text] {
    width: 100%; 
    margin: 0 auto;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black
}

#send {
    background-color: rgb(100, 121, 8);
    float: right;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    float: center;
    margin: 0, auto;
    gap: 100px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-left: 180px;
}

footer {
    bottom: 0;
}

.footer-distributed {
    background-color: rgb(100, 121, 8);
    box-shadow: 0 1px 1px 1 rgba(0, 0, 0, 0, 12);
    box-sizing: border-box;
    width: 100%;
}

.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
    margin-left: 60px;
    margin-bottom: 60px;
}

.footer-distributed .footer-center {
    display: inline-block;
    vertical-align: middle;
}

.footer-distributed .footer-left{
    width: 20%;
}

.footer-distributed .footer-link a {
    float: left;
    vertical-align: left;
    text-decoration: none;
    padding-top: 30px;
}

.footer-distributed .footer-company-about {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-right i {
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    vertical-align: center;
}

.footer-center {
    display: block;
    align-items: center;
    margin-top: 30px;
    margin-left: 120px;
}

.sign-up{
    color: #ffffff;
    text-align: left;
    padding-right: 140px;
}

.footer-input {
    padding-top: 10px;
}

.newsletter input[type=text] {
    width: 250px;
    border: none;
    border-radius: 0%;
    font-size: 15px;
    padding: 12px;
}

.newsletter {
    display: block;
    float: left;
}

.footer-center button {
    padding: 12px; 
    font-weight: bold;
    color: rgb(100, 121, 8);
}

.copyright {
    color: white;
    margin-top: 20%;
}

.footer-distributed .footer-center i {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-right p{
    display: inline-block;
    color: #ffffff;
    vertical-align: left;
    margin: 0;
}

.footer-distributed .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    margin bottom: 80px;
}

.footer-distributed .footer-icons {
    margin-top: 10px;
    margin-left: 15px;
}

.footer-distributed .footer-icons i {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 15px;
}

.footer-distributed h3 {
    color: white;
}

.footp {
    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-left: 2%;
    margin-top: 5%;
}
/* for Mobile Phones*/
@media screen and (max-width: 600px) {
    body{
        width: 70%;
    }

    .logo, .header-link {
        display: block;
    }

    .footer-distributed {
        font: bold 14px sans-serif;
        display: grid;
        grid-template-rows: 50% 50% 50%;
    }

    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
         display: inline-block;
         vertical-align: center;
    }

    .footer-distributed .footer-left{
        display: inline-block;
        width: 20%;
        margin-bottom: 80px;
        text-align: left;
    }

    .footer-distributed .footer-center i{
        margin-left: 20px;
    }

    .footer-link a {
        margin: 0;
    }
}


/* Tablet View */
@media only screen and  (min-width: 600px) {

    .footer-distributed {
        display: flex;
        flex-wrap: wrap;
    }
}