* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
 
body {
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    background: white;
    width: 100%;
}

.header-link a {
    color: white;
    margin: 0 90px;
    display: inline-block;
    float: right;
    text-decoration: none;
    margin-top: 20px;
}

.header {
    background-color:rgb(100, 121, 8);
    font-size: 20px;  
    height: 90px;
    align-items: left;
    justify-content: space-between;
}

.header-link {
    margin-top: 20px;
    margin-left: 20%;
}

.logo-img {
    margin: 40px 0 10px 20px;
    display: block;
    height: 30px;
    margin-left: 10px;
}

.secondhead {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.thirdhead {
    font-size: 15px;
    margin-bottom: 90px;
}

.list3 {
    list-style-type: none;
    columns: 4;
    width: 200px;
}

.fourthhead {
    margin:0 auto;
    font-size: 15px;
    text-align: center;
    display: table;
    margin-bottom: 40px;
}

.formleft {
    text-align: left;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;
    display: inline-block;
}

.formleft input[type=text] {
    width: 100%; 
    margin: 0 auto;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black
}

#send {
    background-color: rgb(100, 121, 8);
    float: right;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.column1 {
    width: 50%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}

.column2 {
    width: 50%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}

footer {
    bottom: 0;
}

.footer-distributed {
    background-color: rgb(100, 121, 8);
    box-shadow: 0 1px 1px 1 rgba(0, 0, 0, 0, 12);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: left;
    width: 30%;
    padding-top: 10px;
}

.footer-distributed .footer-center {
    display: inline-block;
    vertical-align: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 40px;
}

.footer-distributed .footer-left{
    width: 30%;
    padding-top: 30px;
    margin-left: 0px;
}

.footer-distributed .footer-link {
    color: white;
    margin-right: 20px;
}

.footer-distributed .footer-link a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    margin: 0 20px;   
    padding-top: 20px;
}

.footer-distributed .footer-company-about {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 10px;
}

.footer-distributed .footer-right i {
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    margin-right: 10px;
}

.sign-up {
    color: #ffffff;
    text-align: left;
    padding-right: 90px;
}

.footer-input {
    padding-top: 10px;
    padding-bottom: 30px;
}

.form-email {
    width: 200px;
    border: none;
    border-radius: 0%;
    font-size: 15px;
    padding: 12px;
    margin-left: 5px;
}

.newsletter {
    display: block;
    float: left; 
    margin-bottom: 0px;
}

.footer-center button {
    padding: 12px; 
    font-weight: bold;
    color: rgb(100, 121, 8);
}

.footer-distributed .footer-right p {
    display: inline-block;
    color: #ffffff;
    vertical-align: left;
}

.footer-distributed .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    font-size: 13px;
    font-weight: normal;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
}

.footer-distributed .footer-icons {
    margin-right: 10px;
    margin-top: 10px;
    margin-right: 20%;
}

.footer-distributed .footer-icons i {
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
}

.footer-distributed h3 {
    color: white;
    margin-right: 100px;
}

.copyright {
    color: white;
    margin-top: 20px;
    display: block;
}

.footer-bottom {
    display: inline-block;
}


/* for Mobile Phones*/
@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
        text-align: left;
    }

    .header-link {
        display: inline-block;
        list-style-type: none;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        margin-bottom: 10px;
        padding-top: 5px;
        margin-left: 10px;
    }

    .header-link a {
        text-decoration: none;
        color: #ffffff;
        margin-right: 100px;
    }

    a:hover {
        color: #707070;
    }
    
    .header .logo-img {
        display: block;
        height: 20px;
        margin: 10px 0 0px 25px;
    }

    #phoneicon {
        margin-right: 200px;
    }
    
    .secondhead {
        margin-right: 25%;
        font-size: 12px;
        padding-top: 10px;
    }

    .thirdhead {
        margin-right: 200px;
        font-size: 10px;
    }

    .fourthhead {
        margin-left: 20%;
        font-size: 10px;
    }

    .form-field {
        margin-left: 8%;
        margin-right: 40%;
        float: middle;
    }

    .formleft input[type=text] {
        float: left;
    }

    .column1, .column2 {
        width: 100%;
        float: left;
        margin-left: 1%;
    }

    footer {
        margin-bottom: 0px;
    }

    .footer-distributed {
        flex-direction: column;
        margin: 0 100;
        width: 100%;
        margin-left: 0px;
        float: left;
        align-items: flex-start;
    }

    .footer-distributed .footer-right {
        width: 100%;
    }
    
    .footer-distributed .footer-center {
        width: 100%;
    }
    
    .footer-distributed .footer-left {
        width: 100%;
    }
}

@media only screen and (max-width:1085px) and (min-width: 600px) {
    .header {
        display: flex;
        align-items: center;
        background-color: #cc2900;
        justify-content: space-between;
    }

    .header-link {
        display: inline-block;
        list-style-type: none;
        margin-right: 20px;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }

    .header-link a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'montesrrat', sans-serif;
    }

    .header .logo-img {
        height: 50px;
        margin: 15px 0 10px 10px;
    }
}

/* Tablet View */
@media screen and (min-width: 700px) {
    .header-link a {
        margin: 0 10px;
    }
    
    .header { 
        align-items: left;
        height: 80px;
    }
    
    .header-link {
        margin-top: 20px;
        margin-left: 20%;
        margin-bottom: 40px;
    }
    
    .header .logo-img {
        height: 10px;
        margin-right: 80%;
        margin-top: 10px;

    }

    .footer-distributed .footer-left{
       width: 50%;
    }

    .footer-distributed .footer-center{
        width: 50%;
        margin-right: 50px;
        margin-bottom: 0px;
     }
}