* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans', sans-serif;
    background: white
}

a {
    color: white;
    text-decoration: none;
    margin: 0 50px;
    display: inline-block;
    float: right;
}

.header {
    background-color:rgb(100, 121, 8);
    font-size: 20px;  
    height: 90px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-link {
    margin-top: 30px;
    margin-left: 50%;
}

.logo {
    margin-top: 15px;
    margin-left: 10px;
}

#quantity{
    width: 80px;
}

#buynow {
    font-size: 25px;
    border-radius: 12px;
    padding: 10px;
    color: white;
    background-color: rgb(100, 121, 8);
    border: none;
}

#quantity{
    font-size: 28px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center
    padding: 10px;
    padding-top: 20px;
    margin-left: 80px;
}
  
h1 h2 {
    text-align: left;
    font-weight: bold;
}

.column3 {
    text-align: left;
    padding: 75px;
    padding-top: 5px;
    margin-top: 5px;
}

#paragraph {
    text-align: left;
    margin-bottom: 50px;
}

#header2 {
    text-align: center;
}

.column4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.related1 {
    position: relative;
}
  
.text1 {
    position: absolute;
    bottom: 10px;
    color: black;
    left: 50px;
    text-align: center;
}

.related2 {
    position: relative;
}
  
.text2 {
    position: absolute;
    bottom: 10px;
    color:black;
    left: 60px;
    text-align: center;
}

.related3 {
    position: relative;
}
  
.text3 {
    position: absolute;
    bottom: 10px;
    color: black;
    text-align: center;
    left: 50px;
}
footer {
    bottom: 0;
}

.footer-distributed {
    background-color: rgb(100, 121, 8);
    box-shadow: 0 1px 1px 1 rgba(0, 0, 0, 0, 12);
    box-sizing: border-box;
    width: 100%;
}

.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
    margin-left: 60px;
    margin-bottom: 60px;
}

.footer-distributed .footer-center {
    display: inline-block;
    vertical-align: middle;
}

.footer-distributed .footer-left{
    width: 20%;
}

.footer-distributed .footer-link a {
    float: left;
    vertical-align: left;
    text-decoration: none;
    padding-top: 30px;
}

.footer-distributed .footer-company-about {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-right i {
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    vertical-align: center;
}

.footer-center {
    display: block;
    align-items: center;
    margin-top: 30px;
    margin-left: 120px;
}

.sign-up{
    color: #ffffff;
    text-align: left;
    padding-right: 140px;
}

.footer-input {
    padding-top: 10px;
}

.newsletter input[type=text] {
    width: 250px;
    border: none;
    border-radius: 0%;
    font-size: 15px;
    padding: 12px;
}

.newsletter {
    display: block;
    float: left;
}

.footer-center button {
    padding: 12px; 
    font-weight: bold;
    color: rgb(100, 121, 8);
}

.copyright {
    color: white;
    margin-top: 20%;
}

.footer-distributed .footer-center i {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-right p{
    display: inline-block;
    color: #ffffff;
    vertical-align: left;
    margin: 0;
}

.footer-distributed .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    margin bottom: 80px;
}

.footer-distributed .footer-icons {
    margin-top: 10px;
    margin-left: 15px;
}

.footer-distributed .footer-icons i {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 15px;
}

.footer-distributed h3 {
    color: white;
}

.footp {
    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-left: 2%;
    margin-top: 5%;
}

/* Tablet View */
@media only screen and  (min-width: 768px) {
   /* .header {
        width: 90%;
        margin-bottom: 10px;
    }

    .column4 {
       grid-template-columns: 2fr 1fr;
       justify-content: space-evenly;
       margin: 0px;
       padding: 0px;
       width: 80%;
       margin-top: 10px;
       margin-right: 90px;
    }

    .text1, .text2, .text3 {
        font-size: 14px;
    }

    .relatedimage {
        max-width: 15rem;
    }

    .column3 {
        padding: 0px;
        padding-top: 10px;
        padding-right: 80px;
        width: 90%;
        padding: 15px;
        margin: 0px;
    }

    #header2 {
        padding-top: 20px;
    }

    a { margin: 20px;
        text-align: left;
        margin-left: 0px;
    }
    
    .container {
        display: grid;
        grid-template-rows: 50% 50%;
        margin-left: 0px;
        margin-right: 100px;
        gap: 5px;
        justify-content: center;
        margin-top: 10px;
    }

    h1, h2 {
        font-size: 14px;
    }

    #img {
        max-width: 13rem;        
    }

    body{
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }
    footer {
        bottom: 0;
    }
    
    .footer-distributed {
        background-color: rgb(100, 121, 8);
        box-shadow: 0 1px 1px 1 rgba(0, 0, 0, 0, 12);
        box-sizing: border-box;
        width: 100%;
    }
    
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5%;
        margin-bottom: 6
        0px;
    }
    
    .footer-distributed .footer-center {
        display: inline-block;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-left{
        width: 20%;
    }
    
    
    .footer-distributed .footer-link a {
        float: left;
        vertical-align: left;
        text-decoration: none;
    }
    
    
    .footer-distributed .footer-company-about {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-center {
        width: 35%;
    }
    
    .footer-distributed .footer-right i {
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        vertical-align: center;
    }
    
    .footer-center {
        display: block;
        align-items: center;
        margin-top: 30px;
    }
    
    .sign-up{
        color: #ffffff;
        text-align: left;
        padding-right: 140px;
    }
    
    .footer-input {
        padding-top: 10px;
    }
    
    .newsletter input[type=text] {
        width: 250px;
        border: none;
        border-radius: 0%;
        font-size: 15px;
        padding: 12px;
    }
    
    .newsletter {
        display: block;
        float: left;
    }
    
    .footer-center button {
        padding: 12px; 
        font-weight: bold;
        color: rgb(100, 121, 8);
    }
    
    .copyright {
        color: white;
        margin-top: 20%;
    }
    
    .footer-distributed .footer-center i {
        font-size: 17px;
        line-height: 38px;
    }
    .footer-distributed .footer-right p{
        display: inline-block;
        color: #ffffff;
        vertical-align: left;
        margin: 0;
    }
    
    .footer-distributed .footer-right p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        margin bottom: 80px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 10px;
        margin-left: 15px;
    }
    
    .footer-distributed .footer-icons i {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 2px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 15px;
    }
    
    .footer-distributed h3 {
        color: white;
    }
    
    .footp {
        text-align: center;
        color: white;
        margin-bottom: 0px;
        margin-left: 2%;
        margin-top: 5%;
    }*\