body {
    margin: 0px;
    font-family: 'Encode Sans', sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    margin-top: 5px;
}

.styling {
    border-radius: 0px;
    color: rgb(100,121,8);
    width: 70px;
    background-color: white;
    text-transform: uppercase;
}

.nav-bar {
    background-color: rgb(100,121,8);
    color: white;
    height: 80px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 14px 60px;
}

.look li {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    margin: 5px;
}


.main-image { 
    max-width: 35rem;
}

.buynow {
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    color: white;
    background-color: rgb(100, 121, 8);
    border: none;
}

.quantity{
    font-size: 28px;
    font-weight: bold;
    width: 80px;
}

.container {
    display: flex;
    flex-direction: row; 
    padding: 10px;
    padding-top: 40px;
    margin-left: 70px;
    gap: 40px;
}
  
h1, h2 {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.column3 {
    text-align: left;
    padding: 75px;
    padding-top: 5px;
    margin-top: 5px;
}

#paragraph {
    text-align: left;
    margin-bottom: 50px;
}

#header2 {
    text-align: center;
}

.column4 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 100px;
    align-items: center;
}

.relatedimage {
    max-width: 20rem;
    margin: 12%;
}

.related1, .related2, .related3 {
    position: relative;
}
  
.text1, .text2, .text3 {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 10px;
    text-align: center;
    margin: 10%;
    margin-left: 100px;
    font-size: 15px;
    outline: black;
    
}

footer {
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    background-color: rgb(100, 121, 8);
    margin-top: 80px;
}

footer .info {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    width: 100%;
}

.info .foot1 {
    width: 30%;
}

.info .foot2 {
    width: 40%;
}

.info .foot3 {
    width: 30%;
}

#foot-email {
    color: rgb(100,121,8);
    height: 40px;
    padding: 0 50px;
    margin-bottom: 5px;
}

footer .info div:not(:first-child) {
    text-align: left;
}

.foot1, .foot2, .foot3 {
    height: 140px
}

.socials {
    padding: 0px;
}

.socials li {
    display: inline-block;
}

#quick-links li {
    margin-bottom: 10px;
}

#quick-links li a {
    color: #ffffff;
    text-decoration: none;
}

.foot1 ul li a img {
    margin-left: 10px;
}

footer #copyright {
    text-align: center;
    margin: 0;
}

.styling {
    height: 40px;
    color: rgb(100,121,8);
    width: 70px;
    background-color: white;
    border: none;
}

.logo-img {
    display: block;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .container {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        font-size: 10px;
    }

    .nav-bar {
        display: block;
        height: 130px;
        padding: 12px 10px;
    }

    .nav-bar h2 {
        margin: 0;
    }

    .look {
        padding: 0;
        margin-top: 10px;
    }

    .nav-bar ul li {
        display: block;
        margin: 0;
    }

    footer .info div:not(:first-child) {
        text-align: inherit;
    }

    footer .info div {
        margin-left: 20px;
    }

    footer #copyright {
        text-align: center;
        margin-left: 20px;
    }

    #foot-email {
        color: rgb(100,121,8);
        height: 40px;
        padding: 0 10px;
        margin-bottom: 5px;
    }

    .styling {
        height: 40px;
        color: rgb(100,121,8);
        width: 70px;
        background-color: white;
        border: none;
    }

    footer .info {
        flex-direction: column;
        align-items: left;
        width: 100%;
        padding: 0 10px;
    }

    .info .foot1 {
        width: 100%;
    }
    
    .info .foot2 {
        width: 100%;
    }
    
    .info .foot3 {
        width: 100%;
    }

    .foot {
        height: auto;
    }

    #quick-links {
        padding: 0;
    }

    ul li a {
        margin-left: 0;
    }

    ul .socials {
        padding: 0px;
    }
}

@media only screen and (max-width:1085px) and (min-width: 600px) {
    .header {
        display: flex;
        align-items: center;
        background-color: rgb(100, 121, 8);
        justify-content: space-between;
    }

    .header-link {
        display: inline-block;
        list-style-type: none;
        margin-right: 20px;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }

    .header-link a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'montesrrat', sans-serif;
    }

    .header .logo-img {
        height: 50px;
        margin: 15px 0 10px 10px;
    }
}

/* Tablet View */
@media screen and (min-width: 700px) {
    .header {
        flex-direction: column;
    }
    
    .header-link a {
        margin: 0 10px;
        margin-bottom: 10%;
    }
    
    .header { 
        align-items: left;
    }
    
    .header-link {
        margin-left: 10%;
    }
    
    .header .logo-img {
        height: 20px;
        margin-right: 20%;
        margin-top: 15px;
    }

    .main-image {
        max-width: 25rem;
    }

    .column4 {
        flex-wrap: wrap;
    }

    .footer-distributed .footer-left{
       width: 50%;
    }

    .footer-distributed .footer-center{
        width: 50%;
        margin-right: 50px;
        margin-bottom: 0px;
     }
}