body {
    margin: 0px;
    font-family: 'Encode Sans', sans-serif;
}

ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    margin-top: 5px;
}

.nav-bar {
    background-color: rgb(100,121,8);
    color: white;
    height: 80px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 14px 60px;
}

.look li {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.side1 {
HEAD
    display:  inline-block;
=======
HEAD:submissions/rubyAdeniregun/css/signup.css
    display:  inline-block;
========
    display: inline-block;
csstask2:submissions/rubyAdeniregun/css/signupstyle.css
csstask2
    margin-left: 20px;
    padding-right: 10px;
    margin: 220px;
    margin-top: 80px; 
    font-size: 20px;
}

h2 {
    font-weight: bold;
    font-size: 34px;
}

.side form {
    border: 1px solid; 
    border-radius: 30px;
    color: rgb(100,121,8);
    padding-bottom: 10px;
    height: 570px;
    width: 400px;
    text-align: left;
    margin: 40px;
    padding: 40px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 5px;
}

.side input {
    width: 80%;
    border-radius: 5px;
    width: 300px;
    font-size: 25px;
    padding-right: 20px;
    margin-left: 40px;
}

form label {
    margin-left: 40px;
}

#agree {
    margin-left: 0px;
}

.formbase {
    display: flex;
    flex-direction: row;
    color:rgb(100, 121, 8);
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
}

input[type=checkbox] {
    margin-right: 1px;
    height: 13px;
    width: 20px;
    margin-left: 60px;
    border-radius: 40%;
HEAD
    width: 21px;
=======
csstask2
}

#btn {
    background-color: rgb(100, 121, 8);
    float: middle;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 150px;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

footer {
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    background-color: rgb(100, 121, 8);
    margin-top: 80px;
}

footer .info {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    width: 100%;
}

.info .foot1 {
    width: 30%;
}

.info .foot2 {
    width: 40%;
}

.info .foot3 {
    width: 30%;
}

#foot-email {
    color: rgb(100,121,8);
    height: 40px;
    padding: 0 50px;
    margin-bottom: 5px;
}

footer .info div:not(:first-child) {
    text-align: left;
}

.foot1, .foot2, .foot3 {
    height: 140px
}

.socials {
    padding: 0px;
}

.socials li {
    display: inline-block;
}

ul #quick-links {
    padding-left: 10px;
}
#quick-links li {
    margin-bottom: 10px;
}

#quick-links li a {
    color: #ffffff;
    text-decoration: none;
}

.foot1 ul li a img {
    margin-left: 10px;
}

footer #copyright {
    text-align: center;
    margin: 0;
    margin-right: 20px;
}

.styling {
    height: 40px;
    color: rgb(100,121,8);
    width: 70px;
    background-color: white;
    border: none;
}

.logo-img {
    display: block;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .container {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }

    .side1 {
        margin-bottom: 0px;
        font-size: 20px;
        text-align: center;
        margin-left: 110px;
    }

    .nav-bar {
        display: block;
        height: 130px;
        padding: 12px 10px;
    }

    .nav-bar h2 {
        margin: 0;
    }

    .look {
        padding: 0;
        margin-top: 10px;
    }

    .nav-bar ul li {
        display: block;
        margin: 0;
    }

    footer .info div:not(:first-child) {
        text-align: inherit;
    }

    footer .info div {
        margin-left: 20px;
    }

    footer #copyright {
        text-align: center;
        margin-left: 20px;
    }

    #foot-email {
        color: rgb(100,121,8);
        height: 40px;
        padding: 0 10px;
        margin-bottom: 5px;
    }

    .styling {
        height: 40px;
        color: rgb(100,121,8);
        width: 70px;
        background-color: white;
        border: none;
    }

    footer .info {
        flex-direction: column;
        align-items: left;
        width: 100%;
        padding: 0 10px;
    }

    .info .foot1 {
        width: 100%;
    }
    
    .info .foot2 {
        width: 100%;
    }
    
    .info .foot3 {
        width: 100%;
    }

    .foot {
        height: auto;
    }

    #quick-links {
        padding: 0;
    }

    ul li a {
        margin-left: 0;
    }

    ul .socials {
        padding: 0px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
HEAD
      
=======
csstask2
    }

    .side1 {
        margin-right: 200px;
        margin-bottom: 0px;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }

    .side form {
        margin-right: 20px;
    }

    #foot-email {
        color: rgb(100,121,8);
        height: 40px;
        padding: 0 10px;
        margin-bottom: 5px;
    }

    .styling {
        height: 40px;
        color: rgb(100,121,8);
        width: 70px;
        background-color: white;
        border: none;
    }

    .footer .info {
        flex-wrap: wrap;
        float: center;
    }

    ul#quick-links {
        padding-left: 10px;
    }

    #copyright {
        margin-top: 150px;  
    }
}