* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans', sans-serif;
    background: white;
}

a {
    color: white;
    margin: 0 50px;
    display: inline-block;
    float: right;
}

.header {
    background-color:rgb(100, 121, 8);
    font-size: 20px;  
    height: 90px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-link {
    margin-top: 30px;
    margin-left: 50%;
}

.header-link a {
    text-decoration: none;
}

.logo {
    margin-top: 15px;
    margin-left: 10px;
}


/*.header a {
    color: white;
    text-decoration: none;
    margin: 0 50px;
    padding-top: 30px;
    display: inline-block;
    float: right;
}

.header {
    background-color:rgb(100, 121, 8);
    font-size: 20px;  
    width: 100%;
    height: 90px;
    margin-bottom: 45px;
}

#logo {
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center
    padding: 10px;
    padding-top: 20px;
    margin-left: 80px;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    color: rgb(100, 121, 8);
}

.column1 {
    display: block;
    float: left;
    margin right: 20px;
    padding-right: 20px;
    margin: 150px;
    margin-top: 130px;
}

.register {
    position: relative;
}

.register a {
    color: rgb(100, 121, 8);
    position: absolute;
    top: 0;
    left: 125px;
    padding-bottom: 300px;
    font-weight: bold;
    text-decoration: line;
}

.form {
    text-align: left;
    border: none;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    margin: 50px;
}

input[type=text] {
    border-radius: 5px;
    width: 500px;
    font-size: 25px;
}

input[type=password] {
    border-radius: 5px;
    width: 500px;
    font-size: 25px;
}

.formbase {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color:rgb(100, 121, 8);
    font-weight: bold;
    gap: 10px;
}

#signup {
    background-color: rgb(100, 121, 8);
    float: center;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-left: 200px;
}

footer {
    bottom: 0;
}

.footer-distributed {
    background-color: rgb(100, 121, 8);
    box-shadow: 0 1px 1px 1 rgba(0, 0, 0, 0, 12);
    box-sizing: border-box;
    width: 100%;
}

.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
    margin-left: 60px;
    margin-bottom: 60px;
}

.footer-distributed .footer-center {
    display: inline-block;
    vertical-align: middle;
}

.footer-distributed .footer-left{
    width: 20%;
}

.footer-distributed .footer-link a {
    float: left;
    vertical-align: left;
    text-decoration: none;
    padding-top: 30px;
}

.footer-distributed .footer-company-about {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-right i {
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    vertical-align: center;
}

.footer-center {
    display: block;
    align-items: center;
    margin-top: 30px;
    margin-left: 120px;
}

.sign-up{
    color: #ffffff;
    text-align: left;
    padding-right: 140px;
}

.footer-input {
    padding-top: 10px;
}

.newsletter input[type=text] {
    width: 250px;
    border: none;
    border-radius: 0%;
    font-size: 15px;
    padding: 12px;
}

.newsletter {
    display: block;
    float: left;
}

.footer-center button {
    padding: 12px; 
    font-weight: bold;
    color: rgb(100, 121, 8);
}

.copyright {
    color: white;
    margin-top: 20%;
}

.footer-distributed .footer-center i {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-right p{
    display: inline-block;
    color: #ffffff;
    vertical-align: left;
    margin: 0;
}

.footer-distributed .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    margin bottom: 80px;
}

.footer-distributed .footer-icons {
    margin-top: 10px;
    margin-left: 15px;
}

.footer-distributed .footer-icons i {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 15px;
}

.footer-distributed h3 {
    color: white;
}

.footp {
    text-align: center;
    color: white;
    margin-bottom: 0px;
    margin-left: 2%;
    margin-top: 5%;
}

@media screen and (max-width: 600px) {}

@media screen and (min-width: 600px) {