body {
    margin: 0;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

nav ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
    background-color: plum;
    color: white;
    position: relative;
}

#menu {
    float: right;
}

section,
footer {
    padding: 20px 35px;
}

nav li {
    display: inline;
    position: relative;
    margin-right: 50px;
    top: -35px;
}

a {
    text-decoration: none;
}

nav a,
footer a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

a:visited {
    color: none;
}

.goods img {
    width: 469px;
    height: 254px;
    margin: 50px 43px 23px 51px;
    object-fit: contain;
    border: solid 1px #707070;
}

.goods {
    display: flex;
    font-family: 'Montserrat', sans-serif;;
    font-size: large;
    font-weight: bolder;
    text-transform: capitalize;
    line-height: 0.5;
}

.goods-set {
    padding-top: 40px;
    margin-left: 35px;
    line-height: 1;
}

.product1 {
    width: 423px;
    height: 30px;
    margin: 20px 454px 17px 0px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}

.brand1 {
    width: 195px;
    height: 27px;
    margin: 17px 682px 10px 0px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}

.word1 {
    width: 107px;
    height: 27px;
    margin: 17px 12px 17px 0px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f; 
}

#quantity {
    width: 96px;
    height: 27px;
    margin: 4px 200px 4px 0px;
    padding: 11px 64px 12px 22px;
    border: solid 1px #707070;
    background-color: #ffffff;
}

.error-block {
    font-size: 15px;
    color: red;
    padding: 0;
}

#price {
    width: 250px;
    height: 27px;
    margin: 17px 12px 17px 0px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}

#shippingCost {
    width: 250px;
    height: 27px;
    margin: 17px 12px 17px 0px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}

#totalCost {
    width: 250px;
    height: 27px;
    margin: 17px 12px 17px 0px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}

#buy1 {
    
    width: 174px;
    height: 64px;
    margin: 5px 703px 21px 0px;
    padding: 19px 25px 18px 33px;
    border-radius: 20px;
    background-color: #f79521;
}

#buy2 {
    width: 80x;
    height: 27px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.description {
    width: 159px;
    height: 27px;
    margin: 5px 346px 8px 58px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}

.actual {
    width: 1305px;
    height: 49px;
    margin: 8px 78px 28px 57px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}

.relatedproducts {
    text-align: center;
    background-color: rgb(202, 210, 221);
    padding: 10px;
}

#related {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #5f5f5f;
}

.relatedproducts li {
    display: inline-grid;
    padding: 30px;
    margin: 0 25px 14px 25px;
    border: 1px solid white;
    background-color: white;
    font-weight: bold;
    font-family: Montserrat;
    line-height: 1.0;
}

.relatedproducts img {
    height: 250px;
}

footer {
    background-color: plum;
}


.about {
    display: flex;
    display: block;
    margin-left: 10px;
    padding-right: 160px;
}

.newsletter {
    padding-right: 160px;
}
.newsletter input {
    display: inline-flex;
    font-size: 15px;
}

.newsletter button {
    color: plum;
    font-size: inherit;
    font-weight: bold;
    height: 40px;
}

#copy {
    flex-direction: row;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    margin: auto;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: auto;
    display: flex;
    color: white;
}

footer ul {
    margin: 5px;
    font-size: 18px;
}

footer img {
    height: 50px;
    width: 50px;
}

/**Padding of the footer flex**/
.connect {
    padding-right: 200px;
}

#line {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.newsletter {
    display: flex;    
}

#con {
    display: flex;
    font-size: 16px;
    margin: 0;
}

.news {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 640px) {
    body {
        margin: 0;
    }

    nav {
        padding: 25px 35px;
    }

    nav {
        height: 220px;
        padding: 10px;
        background-color: plum;
        color: white;
    }
    
    #logo {
        padding-left: 30px;
    }
    
    nav li {
        position: static;
        margin-top: 0px;
        margin-left: 30px;
        padding: 5px;
    }
    
    #menu {
        display: flex;
        flex-direction: column;
        position: fixed;
    }

    .goods {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        padding-bottom: 0px;
        margin-left: -5px;
    }
    
    .goods-set {
        padding-top: 290px;
        margin-left: 30px;
        line-height: 1;
        position: relative;
    }
    
    .brand1 {
        margin-right: 50px;
    }
    
    .goods img {
        width: 339px;
        height: 254px;
        border: 1px solid gray;
        margin: 30px 30px 0 30px;
        position: absolute;
    }
    
    .description {
        width: 101px;
        height: 18px;
        margin: -20px 237px 4px 22px;
    }
    
    .actual {
        width: 450px;
        height: 104px;
        margin: 10px 16px 3px 23px;
    }

    .relatedproducts {
        text-align: center;
        background-color: rgb(202, 210, 221);
        padding: 10px;
    }
    
    .relatedproducts li {
        display: inline-grid;
        padding: 30px;
        margin: 0 50px 14px 0;
        border: 1px solid white;
        background-color: white;
        font-weight: bold;
        line-height: 0.5;
    }

    .footer {
        display: flex;
        flex-direction: column;
        color: white;
    }

    #connect {
        margin-top: 10px;
        margin-left: -370px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1050px) {
    body {
        margin: 0;
    }

    nav {
        padding: 25px 35px;
    }

  nav li {
        display: inline;
        padding: 8px;
        margin-right: 50px;
        float: right;
    }

    .goods {
        flex-direction: row;
        justify-content: left;
    }

    .goods img {
        height: 220;
        width: 50%;
        border: 1px solid gray;
        margin: 30px 30px 0 30px;
    }

    .relatedproducts {
        text-align: center;
        background-color: rgb(202, 210, 221);
        padding: 10px;
    }

    .relatedproducts li {
        display: inline-grid;
        padding: 30px;
        margin: 0 50px 14px 0;
        border: 1px solid white;
        background-color: white;
        font-weight: bold;
        line-height: 0.5;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px;
        margin: auto;
        display: flex;
        color: white;
    }

    #connect {
        padding-left: 370px;
    }
}