*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 16px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
main{
    margin: 20px;
}
header{
    margin: 0;
    padding-left: 10px;
}
.header-title{
    display: inline-block;
    margin: 10px;
}
.nav-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50px;
    padding: 0 10px;
}
.nav-item a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.nav-item{
    height: 30px;
    width: inherit;
    display: inline;
}
.first{
    background-color: blue;
}
.register{
    text-align: center;
}
.within input{
    border: 1px solid gray;
    border-radius:6px;
    width:100%;
    height:25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.error-block{
    color: red;
}
input[type=checkbox] {
    margin-right: 1px;
    margin-bottom: 10px;
}
#tandc{
    font-weight: bold;
}
.tobefilled{
    text-align: center;
}
.signup{
    background-color: blue;
    color: white;
    width:20%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.secondsection{
    border: 1px solid gray;
    border-radius:10px;
    line-height:1;  
    padding: 20px 20px 10px 20px;  
}
footer{
    margin: 20px;
}
.bottom-links a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 30px;
}
.newsletter input{
    height:30px;
    width:70%;
    margin-bottom:5px;
    border:1px solid grey;   
}
.newsletter button{
    height: 30px;
    width: 20%;
    margin-top: 3px;
    color: blue;
    background-color: white;
    border:1px solid grey;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}
.newsletter ::placeholder{
    color: blue;
    padding-left: 10px;
    text-align: unset;
}
.socials a img{
    height:30px;
    width: inherit;
    border: 1px solid transparent;
    border-radius: 5px;    
}
.nav-bottom{
    display: inline-block;  
}
.copyrights{
    color: white;
    text-align: center; 
}
.last{
    background-color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (min-width: 600px) {
.nav-list{
    flex-direction: row;  
   
}    
.nav-item{
    padding-left: 80px;
    width: fit-content;
}
.new{
    height: 10px;
}
.first{
    background-color: blue;
    color:white;
    height:80px;
    font-size: 16px;
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 5px;
}
.nav-list {
    display:flex;
    color: white;
}
.nav-item a{
    display:flex;
    justify-items:center;
    height: 10px;
    width: fit-content;
    justify-content: space-around;
    margin: auto; 
    padding-top: 22px;  
}
.register{
    margin: 30px;
}
.secondsection{
    padding: 30px 30px 10px 30px;
    margin: 30px;
}
.contact{
    margin-top: 16px;
}
.ending{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.copyrights{
    padding-left: 50px;
    display: grid;
}
@media screen and (min-width: 992px) {
    .register{
        text-align: left;
    }
    .secone{
            display: grid;
            padding: 40px 40px 40px;
            grid-template-columns: 1fr 1fr;
        }
    .first{
        background-color:blue;
        color:white;
        height:80px;
        font-size: 16px;
        display:flex;
        justify-content: space-between;
        padding: 14px 30px; 
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .nav-list {
        display:flex;
        margin-left: 50px;
        color: white;
    }
    .nav-item {
        display: flex;
        height: 10px;
        width: inherit;
        padding: 10px;
        padding-right: 50px;
    }
    .ending{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding: 20px 40px;
    padding-bottom: 0%;
    }
    .socm{
        padding-left: 100px;
    }
    .contact{
        padding-top: 15px;
        margin-top: 5px;
    }
    .copyrights{
    padding-left: 10px;
    padding-right: 40px;
    display: grid;
    } 
}
}