@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
}

header h1 {
  font-weight: 300;
  color: gray;
  text-align: center;
  margin-top: 100px;
}

.googleButton {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}
.googleButton img {
  width: 20px;
}
.googleButton a {
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 360px;
  height: 48px;
  border-radius: 2px;
  border: solid 1px gray;
  margin: 28px 0 24px;
  align-items: center;
  text-decoration: none;
}

.googleButton span {
  font-size: 18px;
  line-height: 16px;
  margin-left: 18px;
  font-weight: 500;
  color: gray;
}

.signupOption {
  font-size: 18px;
  line-height: 3px;
  color: gray;
  text-align: center;
}

form {
  position: relative;
  display: block;
  max-width: 392px;
  width: 100%;
  margin: 12px auto 0;
}
form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid gray;
  outline: none;
}
.inputWrapper {
  position: relative;
  max-width: 392px;
}
#email,
#username,
#password {
  font-size: 15px;
}

.inputArea {
  padding: 30px 16px 8px;
  line-height: 5px;
}

.termsOfService {
  display: flex;
  align-items: center;
  line-height: 19px;
  font-size: 14px;
  cursor: pointer;
  padding: 27px 16px 4px;
}
#signupForm button {
  height: 48px;
  border-radius: 2px;
  background-color: blue;
  margin-top: 16px;
}

form button,
button[form] {
  width: calc(100% - 10px);
}
