body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255,255,255);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.header {
  background-color: rgb(100, 27, 27);
  color: white;
  height: 150px;
  line-height: 0.5;
  padding: 10px;
  margin: 0;
}
.brand-name span {
  font-size: 16px;
  font-weight: normal;
}
.nav-pages {
  display: flex;
  justify-content: flex-end;
}
.nav-bar li {
  margin-top: 10px;
  list-style-type: none;
  padding: 10px;
}
.nav-bar a,
.contact a {
  text-decoration: none;
  color: white;
}
 a:hover {
  cursor: pointer;
  color: #c2b9b0;
}
section {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
}
section img {
  width: 30px;
  height: 25px;
}
.contact-us {
  text-align: center;
  margin-top: 80px;
  flex-wrap: wrap;
}
.contact-us ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
}
.contact-us li {
  padding-left: 15px;
}
.contact-form {
  border: 1px solid black;
  border-radius: 5px;
  margin: 40px 0;
  height: 560px;
  width: 40%;
  padding: 30px;
}
.contact-message {
  text-align: center;
}
.contact-form input {
  width: 98%;
  height: 25px;
  border-style: none;
  border-bottom: 1px solid black;
  font-size: 20px;
}
.contact-form textarea {
  width: 98%;
  height: 200px;
  margin-top: 10px;
}
.btn {
  color: white;
  background-color: #c96567;
  border-radius: 5%;
  border-style: none;
  text-transform: uppercase;
  margin: 10px;
  width: 70px;
  height: 25px;
  float: right;
}
footer {
background-color: rgb(100, 27, 27);
color: white;
padding: 0;
margin: 0;
}
.footer-properties {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}
.contact ul {
  list-style-type: none;
}
.subscribe h4 {
  margin-bottom: 0;
}
.submit {
  color: rgb(100, 27, 27);
  text-transform: uppercase;
  background-color: white;
  border-style: none;
}
.connect h4 {
  margin-bottom: 0;
}
.connect ul {
  margin: 5px;
  padding: 0;
}
.connect li {
  display: inline-block;
  margin-left: 0;
  padding-left: 5px;
}
.connect img {
  width: 30px;
  height: 25px;
}
footer p {
  text-align: center;
  margin: 20px 0 0 0;
}
@media screen and (max-width: 998px) {
  body {
    font-size: 18px;
  }
  .nav-pages {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  section {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  .contact-us {
    margin-top: 40px;
  }
  .contact-form {
    justify-content: center;
    height: 550px;
    width: 70%;
  }
  .contact-form textarea {
    width: 98%;
    height: 200px;
  }
  .footer-properties {
    grid-template-columns: 1fr 1fr;
  }
  .contact ul {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
body {
    font-size: 16px;
}
.nav-pages {
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.contact-form {
  height: 550px;
  width: 50%;
}
.contact-form textarea {
  width: 98%;
  height: 150px;
}
.footer-properties {
  grid-template-columns: 1fr;
}
.contact ul {
  padding: 0;
}
}
