body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255,255,255);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.header {
  background-color: rgb(100, 27, 27);
  color: white;
  height: auto;
  line-height: 0.5;
  padding: 10px;
  margin: 0;
}
.brand-name {
  margin: 0;
  padding: 10px;
}
.brand-name span {
  font-size: 16px;
  font-weight: normal;
}
.nav-pages {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.nav-bar li {
  margin-top: 0;
  list-style-type: none;
  padding: 10px;
}
.nav-bar a,
.contact a {
  text-decoration: none;
  color: white;
}
 a:hover {
  cursor: pointer;
  color: #c2b9b0;
}
.product {
  padding: 10px;
}
.first-product {
  display: flex;
}
.first-product img {
  margin: 10px;
  width: 300px;
  height: 350px;
  padding: 20px;
  box-shadow: 1px 1px 1px 0.5px gray;
}
.product-details {
margin: 15px;
font-weight: bolder;
line-height: 1.0;
}
#product-name {
  text-transform: uppercase;
}
.product-details input {
  width: 30px;
  height: 30px;
}
#product-btn {
  color: white;
  background-color: #c96567;
  border-radius: 7%;
  border-style: none;
  height: 60px;
  width: 120px;
  text-transform: uppercase;
  margin-top: 10px;
}
#product-btn:disabled {
  background-color: gray;
}
.product a {
  color: #c96567;
}
.description h5 {
  line-height: 0;
}
.similar-products {
  background-color: #ebebeb;
  color: black;
  margin-top: 10px;
}
.similar-products h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.other-books {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.other-books a {
text-decoration: none;
color: black;
}
.other-books a:hover {
  color: pink;
}
.other-books img {
  width: 150px;
  height: 180px;
  padding: 20px 0 0 45px;
}
.similar-products {
  margin: 0;
}
.similar-products ol {
  margin: 0;
}
.other-books li {
  list-style: none;
  background-color: white;
  box-shadow: 1px 1px 1px gray;
  width: 250px;
  height: 270px;
  margin-bottom: 20px;
}
.other-books p {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-top: 3px;
}
footer {
background-color: rgb(100, 27, 27);
color: white;
padding: 0;
margin: 0;
}
.footer-properties {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
}
.contact ul {
  list-style-type: none;
}
.subscribe {
  margin-left: 50px;
}
.subscribe p {
  margin-bottom: 10px;
  text-align: left;
}
.news {
  display: inline-block;
  position: relative;
}
.news input {
  height: 20px;
  font-size: 16px;
}
.error-block-news,
.error-block-product,
.error-block-qty {
  color: red;
  display: block;
  font-size: 14px;
}
#newsletter-btn {
  color: rgb(100, 27, 27);
  text-transform: uppercase;
  background-color: white;
  border-style: none;
  position: absolute;
  margin-left: 20px;
  height: 25px;
}
#newsletter:hover {
  cursor: pointer;
}
.connect {
  margin-left: 70px;
}
.connect p {
  margin-bottom: 0;
  text-align: left;
}
.connect ul {
  margin: 5px;
  padding: 0;
}
.connect li {
  display: inline-block;
  margin-left: 0;
  padding-left: 5px;
}
.connect img {
  width: 30px;
  height: 25px;
}
footer p {
  text-align: center;
  margin: 20px 0 0 0;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 18px;
  }
  .nav-pages {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  .first-product img {
    width: 200px;
    height: 250px;
  }
  .other-books {
    grid-template-columns: 1fr 1fr;
  }
  footer {
    padding-left: 40px;
  }
  .footer-properties {
    grid-template-columns: 1fr 1fr;
  }
  .subscribe {
    margin-left: 0;
  }
  .connect { 
    margin-left: 0;
  }
  .contact ul {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
body {
    font-size: 16px;
}
.nav-pages {
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.first-product img {
  width: 160px;
  height: 200px;
}
.first-product {
flex-direction: column;
}
.product-details {
  margin: 0;
}
.other-books {
  grid-template-columns: 1fr;
  padding-left: 160px;
}
footer {
  padding-left: 20px;
}
.footer-properties {
  grid-template-columns: 1fr;
}
.contact ul {
  padding: 0;
}
}
