body{
    background-color:white;
    border:rgb(138, 184, 69) solid 2px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration-line: none;
    background-color: rgb(138, 184, 69);
    color:white;
    font-size: large;
}
#nav  ul{
    background-color:rgb(138, 184, 69); 
    display: flex;
    justify-content: space-between; 
    height: 120px;    
}
.click {
    padding: 50px 30px 10px 30px;
}
.active {
    font-weight: bold;
    color:rgb(3, 73, 3)
}
a:hover {
    color:black;
    font-weight: bolder;
}
.allforms {
    display: flex;
    justify-content: space-between;
    padding:50px 30px 30px 40px;  
}
#register {
    text-align: center;
    padding-right:70px;
    padding-top:75px;
}
.reg {
    color:rgb(138, 184, 69); 
}
#form {
    border:rgb(138, 184, 69) solid 1px;
    border-radius:5%;
    padding:30px;
    width:50%;
}
.wide input {
    width:90%;
    height:30px;
}
#sign {
    padding:10px;
    color: white;
    background-color:rgb(138, 184, 69) ;
}
 #clear {
    display: flex;
    justify-content:space-around;
    padding-top: auto;
 }
#foot {
    background-color:rgb(138, 184, 69); 
    height:180px;
}
.email {
    padding: 10px;
}
.submit{
    padding: 10px;
}
.copy {
    text-align: center;
}
@media screen and (max-width:768px) {
    .allforms {
        display: block; 
        width:100%;
    }
    #register {
        text-align: center;
        padding-right:50px;
        padding-left: 100px;
        padding-top:0;
        width:60%   
    }
    #form {
        margin-right:90px;
        margin-left:30px;
        margin-top: 20px;
        width:70%
    }
    .wide input {
        width:90%;
        height:30px;
    }
    #clear {
        display: block;
    }
    #foot { 
        height:300px;
    }
    .contact {
        padding-top: 5px;
    }
    .newsletter {
        padding-left: 35px;
    }
.connect {
        padding-left: 35px;
    }
    }
@media screen and (max-width:480px) {
    #nav  ul{
        display: block; 
        height: auto;  
    }    
    .click {
        padding: 5px 10px 10px 10px;
    }
    .allforms {
        display: block; 
        width:100%;
    }
    #register {
        text-align: center;
        padding-right:50px;
        padding-left: 50px;
        width:60%   
    }
    #form {
        margin-left:0;
        margin-top: 20px;
        width:70%;
    }
    .wide input {
        width:90%;
        height:30px;
        padding-left: 30px;
    }
    #clear {
        display: block;
    }
    #foot { 
        height:300px;
    }
    .contact {
        padding-top: 5px;
    }
    .newsletter {
        padding-left: 35px;
    }
    .connect {
        padding-left: 35px;
    }
}

