@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Solway&display=swap&family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;

}

body {
    font-family: 'Solway', serif;

}

/* ============================================ Navbar section =========================================== */
nav {
    background-color: #bce6eb;
    font-family: 'Merriweather', serif;
}

nav span, nav ul {
    margin-left: .9em;
}

nav:first-child {
    padding-top: 1rem;
}

nav ul {
    padding-bottom: 1em;
    padding-top: 0;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: .7em;
}

nav span {
    font-family: 'Pacifico', cursive;
    font-weight: 900;
    font-size: .9rem;
    color: #fca3cc;
}

nav a:hover,
nav a:focus {
    color: #fca3cc;
} 

@media (min-width: 45rem) {
    nav {
        height: 4rem;
    }
    nav ul {
        margin-left: 30rem; 
        margin-bottom: 0;
        position: absolute;
        top: 10px;
    }
    
    nav span {
        font-family: 'Pacifico', cursive;
        font-weight: 900;
        font-size: 1rem;
        color: #fca3cc;
        position: relative;
        display: inline-block;
        top: 6px;
    }
    nav ul li {
        margin: 1em;
        display: inline-block;
    }
 
 }

 @media (min-width: 64rem) {
    nav li a {
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: .9em;
    }
    nav ul {
        margin-left: 40rem;
    }
     
 }

@media (min-width: 67rem) {
     nav ul {
         margin-left: 70rem;
     }
 }


/* ============================================ Product section =========================================== */
.container-1 {
    width: 95%;
    max-width: 70em;
    margin-left: .9em;
}

.first-product {
    line-height: 1.5;
    background-color: #fff;
}

.img1 {
    border: 1px solid #5f5f5f;
    margin-top: 2em;
    padding: 0;
}

.p-name{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
    color: #5f5f5f;
}

.f-items {
    font-weight: 600;
    font-size: .8em;
    color: #5f5f5f;

}

.f-items t {
    border: 1px solid black;
    padding: 0 19px;
}

.btn {
    background-color: #fca3cc;
    border-color: #fca3cc;
    padding: .5em;
    border-radius: 10%;
    color: white;
    text-transform: uppercase;
    margin-top: .6em;
    font-size: .9em; 
    font-weight: 600;
}

.btn:hover, 
.btn:active,
.btn:focus {
    border-color: #fca3cc;
    cursor: pointer;
    background-color: #fd4b9e;
    
}

.first-product p{
    padding-bottom: 1rem;
    color: #5f5f5f;
}

.first-product h5 {
    text-transform: uppercase;
    padding-top: .5em;
    padding-bottom: .3em;
}


/* ====================================== Similar Product========================================== */
.similar-product {
    background-color: #ebebeb;
    padding-bottom: .9rem;
}

.similar-product h5 {
    font-size: 1em;
    text-transform: uppercase;
    padding: 1.5em 0;
    text-align: center;
}

.similar-product img {
    margin-left: 1.9em;
    max-width: 19rem;
}

.desc {
    background-color: #fff;
    position: relative;
    top: -9px;
    right: 5.1px;
    width: 19rem;
    margin: 0 auto;
    padding-bottom: .8rem;
    text-align: center;
}

.desc:last-child {
    margin-bottom: .9rem;
}

@media (min-width: 45rem) {
    .similar-product img {
        margin-left: 0;
        max-width: 27rem;
    }

    .desc {
        background-color: #fff;
        top: -9px;
        right: 1px;
        width: 30rem;
        margin: 0 auto;
        padding-bottom: .8rem;
        text-align: center;
    }

    .row {
        display: table;
        content: "";
    }

    .column {
        float: left;
        width: 50%;
        padding: 23px;
    }

    .float {
        float: right;
        margin-right: 30em;
        margin-top: 2em;
        line-height: 2;
    }

    .p-name {
        letter-spacing: 1px; 
    }

    .f-items {
        font-size: 1em;
    }

    .img1 {
        width: 20em;
    }
    
    .first-product h5 {
        font-size: 1em;
    }

    .desc {
        right: 1rem;
        width: 27rem;
    }
}

@media (min-width: 67rem) { 
    .container-1 {
        max-width: 90rem;

    } 
    .column {
        float: left;
        width: 33.33%;
        padding: 37px;
    }
    .similar-product .img {
        max-width: 27rem;
        margin: 0 auto;
    }

    .desc {
        left: 0;
        width: 27rem;
    }
    
    .img1 {
        width: 24em;
    }
    .float {
        float: right;
        margin-right: 55em;
        margin-top: 2em;
        line-height: 2;
    }

    .p-name {
        letter-spacing: 1px; 
    }
} 


/* ====================================== Similar Product========================================== */
footer {
    background-color: #bce6eb;
    font-family: 'Merriweather', serif;
}

.container-2 {
    width: 95%;
    margin-left: .9em;
    padding-top: 2em;
    color: #fff;
    line-height: 1.5;
    font-weight: 500;
}

.nav-2 {
    line-height: .5;
    font-size: .7rem;
}

.nav-2 a:hover,
.nav-2 a:focus {
    color: #fca3cc;
    cursor: pointer;
} 

.sign-up span {
    padding-bottom: 0;
    font-size: .7rem;
}

.btn-1 {
    background-color: #fff;
    color: #bce6eb;
    border: 1px solid #5f5f5f; 
    font-size: .8rem;
    height: 1.8rem;
}

.sign-up input {
    height: 1.8rem;
    margin-right: .9em;
    margin-bottom: .5rem;

}

.container-2 ul li {
    display: inline-block;
    padding: .3rem;
}

.copy-right {
    padding: 1em auto;
    text-align: center;
    font-size: .7rem;
}

.copy-right span {
    display: block;
    font-size: .7em;
}

.container-2 p {
    padding-bottom: 1em;
}

.contact-us {
    margin-top: .9em;
    font-size: .7rem;
}

@media (min-width: 64rem) {
    .row-2 {
        display: table;
        content: "";
    }

    .col {
        float: left;
        width: 50%;
    }

    .nav-2 {
        font-size: 1.3em;
    }
    .sign-up span{
        font-size: 1.3em;
        display: inline-block;
    }

    .copy-right span {
        display: inline;
        font-size: 1em;
    }
     
    .copy-right {
        font-size: 1em;
        padding-top: .9rem;
    }
    .contact-us {
        font-size: 1.2em;
    }
}

@media (min-width: 94rem) {
    .row-2 {
        display: table;
        content: "";
    }

    .col {
        float: left;
        width: 33.33%;
    }
    .container-2 {
        margin-left: 2rem;

    }

    .nav-2 {
        font-size: 1rem;
    }
    .sign-up span {
        font-size: 1rem;
    }
    .contact-us {
        font-size: .9em;
    }
    .copy-right {
        font-size: .8rem;
        padding-top: 4em;
        font-weight: 400;
    }


}