*{
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
}
.fieldset{
    width: 60%;
}
.image{
    margin-left: 100px;
}
.inputfield{
    border-top: none;
    border-left: none;
    border-right: none;
    border-width:thin;
    box-shadow: none;
}

.nav,
.footer-div{
    background-color: limegreen;
}

main{
    margin-left: 20px;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: white
}

.contact-div, 
.submit-div,
.logos-div, 
.copyright-div{
    margin-left: 20px;
    color: white;
}

.lists{
    margin-left: -40px;
    padding: 5px;
}
.button2 {
   background-color: limegreen;
    border: none;
    width: 50px;
    color: white;
    border-color: none;
    text-align: center;
    float: right;
    margin-top: -5px;
    height: 20px;
}
.inputfield{
    width: 100%
}
::placeholder{
    color: limegreen;
}
.nav-item{
    padding: 5px;
    margin-left: -30px;
}

main{
    text-align: center;
}
.fieldset{
    width: 90%;
}
.footer-logos{
    padding: 3px;
}
.image{
    margin-left: -20px;
}
#message{
    width: 100%;
    height: 100px;
}

.button{
    color: limegreen;
    background-color: white;
    border: none;
    height: 30px;
}
.email-id{
    height: 30px;
    border: none;
}
.copyright-div{
    padding-bottom: 5px;
}

@media screen and (min-width:900px) {
    .footer-div{
        height: 200px;
        margin-top: 20px;
    }
    .contact-div{
        width: 40%;
        float: left;
    }
    .submit-div,
    .logos-div {
        width: 40%;
        float: right;
        text-align: center;
    }
    #message{
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
        border-color: black;
    }
 
   /* .logos-div{
        float: right;
        margin-right: -200px;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }*/

    .copyright-div{
        float: left;
        text-align: center;
        margin-left: 250px;
}   }


@media screen and (min-width:1200px) {
    section{
        float: left;
        width: 50%;
    }

    .fieldset{
        width: 50%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #message{
        border: solid limegreen;
        height: 150px;
        outline-style: none;
    }
    
    .nav-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav-item{
       margin: 10px;
    }
    .contact-div{
        width: 33.33%;
    }
    .logos-div{
        width: 33.33%;
        float: right;
        margin-right: -40px;
    }
    .submit-div{
        width: 33.33%;
        float: left;
        margin-left: -40px;
    }
    .copyright-div{
        margin-top: 50px;
        margin-left: -50px;
    }
    .nav-logo{
        width: 70px;
        height: 70px;
    }

}


