@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif ; 
    font-size: 16px;
}
 /* ============================Header section============================*/

.container4{
    background-color: #e6e338;
}

.nav-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: -50px;
}

.rightside{
    display: flex;
    flex-direction: column;
}

.nav-wrapper > .rightside > div{
    padding-top: 10px;
}

.nav-wrapper a{
    text-decoration: none;
    color: #fcf8f8;
}

.nav-wrapper a:hover{
    border: 1px solid  #ca2929;
}
.leftside{
    display: flex;

}
.brand{
    font-size: 22px;
    font-family: 'Cormorant', serif;
    color: #ca2929;
}

.logoimg{ 
    margin-top: -10px;  
 }
 /* ============================contactpage main section============================*/

 .contactpage-container{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin: 10px 10px;  
 }

 .contactpage-container > div{
     margin: 20px;
 }

.reachout-section{
    color:  #5f5f5f;
    text-align: center;  
}

.comment{
    font-weight: bold;
}

.reachout-section > div{
    margin-top: 50px;
    line-height: 0.3;
}

.reachout-section a:hover{
    border: 1px solid #fcf8fe
}
        /* info section*/

.contactpage-fieldset{
    width: 600px;
    color: #5f5f5f;
    padding: 20px 50px;
    margin: 0px 350px;
}

.first-infosection{
    font-weight: bold;
    text-align: center;
}

.second-infosection > input{
    width: 90%;  
    padding: 10px; 
    margin: 10px; 

}
.second-infosection > textarea{
    width: 90%;  
    padding: 10px; 
    margin: 10px; 
}

.contactpage-container button{
    color: #fcf8fe;
    border-color: #d4d3ad;
    border-radius: 5px;
    background-color:#e6e338 ;
    font-size: ;
    font-weight: bold;
    margin-left: 77%; 
    height: 30px;
    width: 15%
}

/* ============================signup main section============================*/


.signup-container{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin: 40px 40px;  
}

.signup-container > div{
    margin: 20px;
}

.signup-reachout-section{
    color:  #5f5f5f;
    text-align: center; 
    
}

.signup-reachout-section h3{
    color: #e6e338;
    font-weight: bold;
}

.signup-reachout-section a{
    color: #e6e338;
    font-weight: bold
}
     /* info section*/

.signup-fieldset{
    width: 700px;
    color: #5f5f5f;
    border-radius:20px ;  
    padding: 20px 50px;
    margin: 0px 300px;
}

.input-type1 input {
    width: 90%;
    padding: 10px;  
    margin: 10px; 
    border-radius:8px ; 
    border: 1px solid #5f5f5f ;  
}
.iagree{
    color: #e6e338 ;
    font-weight: bold;
}
.signup-container button{
    color: #fcf8fe;
    border-color: #d4d3ad;
    border-radius: 5px;
    background-color:#e6e338 ;
    font-size: ;
    font-weight: bold;
    margin-left: 50%; 
    height: 30px;
    width: 15%
}


 /* ============================footer section============================*/
.footer-container{
        background-color: #e6e338 ;  
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fcf8f8;
}

.footer-wrapper > div{
    margin-top: 20px;
}

.footer-box1{
    display: flex;
    flex-direction: column;
}

.footer-box1 a{
    text-decoration: none;
    color: #fcf8f8;
}

.footer-box1 a:hover{
    border: 1px solid #fcf8fe;
}

.footer-box1 > span{
    margin-top: 10px;   
}

.footer-box2 input{
    height: 25px;
    width: 200px;
}

.footer-btn{
    color: #e6e338;
    background-color: #fcf8fe ;
    border-color: #d4d3ad;
    padding: 4px 15px;
    font-size: px;
    font-weight: bold;
    cursor: pointer;
 }

 .footer-box2{
     line-height: 0.1;
 }

 .footer-box3 a:hover{
    border: 1px solid #ffffff;
}

.footer-box3{
    line-height: 0.1;
}

.copyright{
    color: #fcf8fe;
    text-align: center;
    font-size: ;
    padding-bottom: 20px;
}

/*=============================================== Media Query ====================================================*/
/* Small devices (portrait tablets and phones, below 768px) */
@media only screen and (max-width:768px) {
    
    .nav-wrapper{
        flex-direction: column;
    }
    
    .rightside{
        flex-direction: column;
    }
    .contactpage-container{
        justify-content: left;
     }
     .signup-container{
         justify-content: left;
     }
    
    .contactpage-fieldset{
        margin: 0px 0px;
    }
    .signup-fieldset{
        margin: 0px 0px;
    }    
        
}
/* Medium devices (tabltes, above 768px) */
@media only screen and (min-width:768px){
    .nav-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .rightside{
        flex-direction: row;
    }

    .nav-wrapper > .rightside > div{
        margin-left: 20px;
    }

    .contactpage-fieldset{
        margin: 0px 0px;
    } 

    .signup-container{
        flex-direction: row;
        padding-top: 40px;
    }
    .signup-reachout-section{
        font-size: 22px; 
        padding-top: 100px;
        text-align: left;
    }
    .signup-fieldset{
        margin: 0px 20px;
    }

       

    .footer-wrapper{
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: space-around;
    }        
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width:1200px){

    .nav-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .rightside{
        flex-direction: row;
    }

    .nav-wrapper > .rightside > div{
        margin-left: 20px;
    }

    .contactpage-container{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 70px 100px;
     }

    .reachout-section{
        font-size: 22px;
    }

     .contactpage-fieldset{
        margin: 0px 0px;
    }
    .signup-container{
        flex-direction: row;
       padding-top: 40px;
    }
    .signup-reachout-section{
        font-size: 22px; 
        padding-top: 100px;
        text-align: left;
    }
    .signup-fieldset{
        margin: 0px 20px;
    }
    .footer-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }   
}
