* {
    box-sizing: border-box;
}

input {
    padding: 10px;
    margin: 50px;
}

/* navbar styling */
nav a [href*='/'] {
    font-size: 25px;
    font-weight: bold;
    color: plum;
}

nav {
    padding: 10px;
    background-color: brown;
    color: plum;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    padding: 5px;
}

nav li {
    float: right;
    padding: 8px;
}

.header1 {
    font-size: 35px;
}
/* End of navbar styling */



/* unvisited link */
a:link {
   text-decoration: none;
   color: plum;
}
/* visited link */
a:visited {
    text-decoration: none;
    color: plum;
}
/* when mouse is on link */
a:hover {
    text-decoration: underline;
    color: hotpink;
}
/* selected link */
a:active {
    text-decoration: underline;
    color: burlywood;
}



/* body styling */
body {
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: wheat;
    color: black;
}

h2,
h3,
h4 {
    font-size: 18px;
}

img.SHMPOO {
    height: 250px;
    width: 350px;
    float: left;
    border-style: hidden;
    margin: inherit;
    padding: 0;
}

.Specs {
    display: inherit;
    padding-top: 10px;
    padding-bottom: 0%;
    margin: inherit;
}

.Specs::first-line {
    font-size: 15px;
}

.QTY {
    margin: 0 0 5px 0;
}
#Quantity {
    width: 5%;
    margin-left: 5px;
}

.PRCE {
    margin: 8px 0 0 0;
}

.desc {
    padding-top: 30px;
}

.btn {
    background-color: brown;
    color: plum;
    text-align: center;
    border: 2px solid bisque;
    padding: 5px 7px;
    text-decoration: none;
}

h4 {
    text-align: center;
}

img.SOIL {
    height: 300px;
    width: 300px;
    border: 70px solid brown;
}

img.VMOSE {
    height: 300px;
    width: 300px;
    position: relative;
    border: 70px solid brown;
    display: inline-block;
    left: 700px;
    bottom: 380px;
    text-align: inherit;
}

img.GEL {
    height: 300px;
    width: 300px;
    position: relative;
    border: 70px solid brown;
    display: inline-block;
    bottom: 760px;
    left: 350px;
}

.SL {
    position: relative;
    bottom: 80px;
    left: 40px;
}

.VM {
    position: relative;
    left: 740px;
    bottom: 460px;
}

.EG {
    position: relative;
    bottom: 840px;
    left: 420px;
}

.products ul {
    list-style-type: none;
    display: inline;
}
.products {
    padding-top: 0%;
}
/* End of body styling */


/* Footer styling */
footer {
    padding: 2px;
    background-color: brown;
    color: plum; 
    margin: 0px;
}

footer ul {
    list-style-type: none;
    padding: 10px;
}

img.FBK {
    height: 50px;
    width: 50px;
    padding: 10px;
}
img.TWTR {
    height: 50px;
    width: 50px;
    padding: 10px;
}
img.GML {
    height: 50px;
    width: 50px;
}
img.YTUB {
    height: 50px;
    width: 50px;
    padding: 10px;
}

.email {
    text-align: center;
    position: relative;
    bottom: 100px;
}

.sites {
    text-align: right;
    position: relative;
    bottom: 280px;
}

.copyright {
    text-align: center;
    position: relative;
    bottom: 200px;
}
/* End of Footer Styling */