*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

header{
  background-color: rgb(65, 51, 51);
  padding:50px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  color:white;
}

h1{
  margin-right:14.5em;
}

form {
  position:relative;
  bottom:95px;
  display:flex;
  justify-content: center;
}

form .TodoInput {
  border:solid 1px;
  border-radius: 8px;
  width:420px;
  padding:14px;
  margin-right:3px;
}

form .submitInput {
  border:solid 1px;
  border-radius: 8px;
  padding:14px;
  width:80px;
  background-color: coral;
  cursor:pointer;
}

.todo-container {
  box-shadow: 0 2px 6px ;
  background-color: #d9c179;
  width:515px;
  height: 370px;
  position:relative;
  left:28em;
  bottom:80px;
  border-radius:13px;
}
 
/* Styling the todo-items */
.todo {
  list-style: none;
  border:solid 1px;
  border-radius:10px;
  background-color: white;
  width:400px;
  position:relative;
  top:30px;
  margin: 10px 30px 10px 60px;
  font-size:20px;
}

.todo li {
 line-height: 15px;
 padding:17px 0px 0px 15px;
 height:25px;
}

.container {
  position: relative;
  padding-left: 15px; 
   margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hiding the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Creating a new checkbox */
.checkmark {
  position: absolute;
  display: inline-block;
  bottom: 0.8em;
  left: 16em;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border: 2px solid red;
}

/* The checkmark should be hidden when not checked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* The checkmark should show when checked */
.container input:checked + .checkmark:after {
  display: block;
}

/* Change the background after the checkmark is checked */
.container input:checked + .checkmark {
  border: 2px solid green;
  display: block;
}

/* Style the checkmark */
.container .checkmark:after {
  left:5px;
  bottom:1.3px;
  width: 3px;
  height: 10px;
  border: solid green;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* On mouse-over, change the background to grey */
.container:hover input + .checkmark {
  background-color: #ccc;
}

.active{
  color:black;
}

/* The colour should change to green when items are completed */
.completed {
  text-decoration:line-through;
  color:green;
}

/* Styling the footer */
.footer {
  display:flex;
  align-items:center;
  justify-content: space-between;
  border: solid 1px;
  background-color: white;
  width:515px;
  position:relative;
  bottom:98px;
  box-shadow: 0 2px 6px white;
  border-radius:10px;
  padding:10px;
  left:28em;
}

.item2 {
  color:blue;
  position:relative;
  left:3em;
}

.item3 {
  color:red;
  position:relative;
  left:1.7em;
}

.item4 {
  color:green;
}

.item5 {
  color:red;
}

@media only screen and (max-width:450px) {
 
  header{
    width: 103%;
    display:flex;
    justify-content: left;
  }

  h1{
    margin-right:34em;
  }

  form .TodoInput{
   width:60%;
   margin-left:13px;
   height:40px;
  }

  form .submitInput{
    width:20%;
    height: 40px;
  }

  .todo-container {
    position:relative;
    width:103%;
   left:0;
  }

  .todo{
    width:85%;
    margin-left:20px;
  }

  .checkmark {
    left:13em;
    bottom:0.6em
  }

  .todo li{
    height:0;
  }

  .footer{
    width:103%;
    left:0;
    font-size:14px;
  }

  .item1{
    position: relative;
     bottom: 3em;
  } 

  .item5{
    position: relative;
    bottom:3em;
    margin-right:20px;
  }

  .item2{
    left:0;
  }

  .item4{
    position: relative;
    left:3em;
  }
}

  