* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header,form {
    min-height: 20vh;
    background-color:  rgb(65, 51, 51);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position:relative; */
  }
  h1 {
    margin-right:20rem;
    
  } 
  .TodoInput {
    margin-right:3px;
    border: hidden;
    padding: 16px;
    width:390px;
    border-radius: 13px;
    margin-bottom: 15px;
  }
  
  .submitInput {
    border: 1px solid;
    padding:16px;
    width:70px;
    border-radius: 10px;
    background-color: powderblue;
    cursor:pointer;
  } 
  button [type="submit"]:disabled {
    background:grey;
  }
  .todo-item {
    color:black;
      padding:8px;
      font-size:20px;
     
  }
  .todo-container {
    background-color: goldenrod;
    width:550px;
    height:500px;
    border-radius: 7px;
    margin-left:380px;
    position:relative;
    bottom:40px;
    box-shadow: 0 2px 6px goldenrod;
    
  
    /* margin:15px, 20px,7px,15px; */
  }
  
   .todo {
    /* display:flex;
    justify-content: space-between; */
    list-style: none;
      border: solid 1px;
      border-radius: 10px; 
     background-color: white;
     width:400px;
     position:relative;
     top:40px;
     margin: 15px 40px 15px 60px;
     /* margin:7px;
     margin-left:30px; */
   }
  .container {
    position: relative;
    /* padding-left: 15px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
   /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    display: inline-block;
    bottom: 0.5em;
    left: 16em;
    height: 18px;
    width: 18px;
    background-color: #eee;
    outline: 2px solid red;
  }
  /* On mouse-over, change the background to grey */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* Create the checkmark (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when  it is checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark */
  .container .checkmark:after {
    right: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
   .active{
     color:black;
   }
   .completed {
  /* opacity: 0.5; */
  text-decoration:line-through;
  color:green;
  }
  /* .checkmark {
    outline:red;
  } */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position:absolute;
    width:50%;
    box-shadow: 0 2px 6px;
    background-color: white;
    border-radius: 15px;;
   /* padding:15px; */
  }
  .footer .middle{
    display: flex;
    justify-content: space-between;
   /* position: relative;
   right:20px; */
   width:29%;
  
  }
  
   /* .footer .left{
    width:20%
  } */
  .footer .right{
    display: flex;
    /* width:15%; */
  } 
  
   
    /* justify-content: space-between; */
  
  
  /* .checkbox {
    background-color: orangered;
  }  */