body {
    margin: 0;
}
.top-bar { 
  background-color: blue;
  color:white;
  height:20px;
  font-family: Montserrat;
  font-size: 16px;
  display:flex;
  justify-content: space-between;
  padding: 14px 60px;
}
.link li {
    display: inline-block;
    margin-left: 10px;
}

ul li a {
color: white;
text-decoration: none;
margin: 5px;
}
.Product-Page {
  width: 67px;
  height: 6px;
  margin: 12.3px 56px 7px 980px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.Contact-Us {
  width: 67px;
  height: 6px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.Sign-up {
  width: 67px;
  height: 6px;
  margin: 12.3px 20.3px 9px 60px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-decoration: none;
}
.ic_call_24px {
  width: 40px;
  height: 40px;
  margin: 119px 90px 15px 3px;
  object-fit: contain;
  background-color: var(--bright-blue);
}
.Rectangle-10 {
  margin: 6px 4px 51px 0px;
  padding: 39px 45px 15px 41px;
  width: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
}
.Rectangle-126 {
  height: 620px;
    width: 10px;
  margin: 72px 55px 36px 19.5px;
  padding: 24px 66px 32px 44.5px;
  border: solid 1px #707070;
  background-color: #ffffff;
}
.ic_email_24px {
  width: 48px;
  height: 30px;
  margin: 0 83px 25.3px 106.5px;
  object-fit: contain;
  background-color: var(--bright-blue);
}
.Or-better-still-send-us-a-message {
  width: 468px;
  height: 30px;
  margin: 25.3px 0.5px 43px 28px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.25px;
  text-align: center;
  color: #5f5f5f;
}
.Full-Name {
  width: 112px;
  height: 24px;
  margin: 43px 118.5px 5.5px 2px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: #5f5f5f;
}
.text-style-1 {
  font-weight: bold;
  color: blue;
}
.SEND {
  width: 150px;
  height: 21px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: white;
}
#Rectangle-119 {
 width: 133px;
  height: 45px;
  margin: 19px 0 0 243px;
  padding: 14px 41px 10px 44px;
  border-radius: 4px;
  background-color:blue;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.Contact-US {
  width: 99px;
  height: 22px;
  margin: 4px 272px 5px 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fcf8f8;
  list-style-type: none; !important;
}
.About-Us {
  width: 84px;
  height: 22px;
  margin: 15px 287px 15px 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fcf8f8;
    list-style-type: none; !important;
}
.Terms-and-Conditions {
  width: 197px;
  height: 22px;
  margin: 2px 174px 26px 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fcf8f8;
 list-style-type: none; !important;
}

.Sign-up-for-our-Newsletter {
  width: 236px;
  height: 22px;
  margin: 5px 21px 9px 0px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fcf8f8;
}
.Enter-your-email-address {
  width: 199px;
  height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: blue;
}
.Rectangle-8 {
  width: 100px;
  height: 10px;
  margin: 5px 4px 3px 30px;
  padding: 12px 42px 13px 12px;
  border: solid 1px #707070;
  background-color: #ffffff;
}
.SUBMIT {
  width: 44px;
  height: 22px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;e
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: blue;
}
.Rectangle-9 {
  width: 90px;
  height: 34px;
  margin: 5px 75px 3px 1px;
  padding: 11px 16px 11px 1px;
  border: solid 1px #707070;
  background-color: #ffffff;
}
.register {
    margin-top: 20px;
}
.CONNECT-WITH-US {
  width: 177px;
  height: 22px;
  margin: 10px 0px 9px 30px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fcf8f8;
}
.facebook-logo {
  width: 45px;
  height: 39px;
  margin: 3px 7px 2px 30px;
  object-fit: contain;
  border-radius: 10px;
}
.twiiter-logo {
  width: 45px;
  height: 41px;
  margin: 3px 5px 0;
  object-fit: contain;
  border-radius: 7px;
}
.gmail-logo {
  width: 45px;
  height: 39px;
  margin: 9px 10px 2px;
  object-fit: contain;
  border-radius: 9px;
}
.youtube-logo {
  width: 45px;
  height: 41px;
  margin: 4px 0 0 10px;
  object-fit: contain;
  border-radius: 11px;
}
#Copyright-2020-Yoursitecom-All-rights-reserved {
  width: 630px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: white;
  text-align-last: center;
}
.footer {
    background-color: blue;
    color: white;
}
.column {
  float: left;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 600px) {
.nav-links {
    margin-top : 10px;
    display: flex;
    flex-direction : column;
}
    .container {
        display: block;
        padding: 0;
        margin: 0px;
    }    
    .footer {
        display: block;
    }
}
    @media only screen and (max-width: 768px) {
    body {
        box-sizing: border-box;
    }

 #Copyright-2020-Yoursitecom-All-rights-reserved {
        text-align-last: left;
        margin: auto;
     
    }
    }
    @media (max-width: 992px) {
    .top-bar{
    display: block;
    height: 100px;
    padding: 12px 10px;
    }  
    
    .link {
     padding: 0;
    margin-top: 10px;
    }
    
    .top-bar ul li {
     display: block;
    margin: 0;
    }
    .main {
        flex-direction: column;
        justify-content: center;
    }
    #Copyright-2020-Yoursitecom-All-rights-reserved {

}
}


