* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
nav {
  background-color: #0066f5;
  height: 190px;
}
.logo img {
  width: 90px;
  height: 90px;
  margin-left: 25px;
}
.nav-link {
  list-style: none;
  margin-left: 40px;
}
.nav-link a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
}
.container img {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  padding: 4px;
  margin: 50px 0px 0px 30px;
}
.price {
  margin: 25px 100px 0px 25px;
}
.price h1 {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  height: 30px;
  text-align: left;
  letter-spacing: normal;
  font-style: normal;
  color: #5f5f5f;
  width: 300px;
}
.price p {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  margin-top: 5px;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #5f5f5f;
}
.price input {
  width: 30px;
  height: 25px;
  padding: 5px;
  border: solid 1px #707070;
}
button {
  padding: 7px;
  border-radius: 8px;
  background-color: #f79521;
  border: none;
  margin-top: 5px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.desc {
  margin: 5px 0px 0px 20px;
}
.desc h2 {
  text-transform: uppercase;
  color: #5f5f5f;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.2;
  margin: 20px 0px 10px 0px;
  font-size: 14px;
}
.desc p {
  color: #5f5f5f;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.2;
  text-align: left;
  padding-right: 40px;
  padding-bottom: 20px;
}
.container1 {
  background-color: #ebebeb;
  padding-bottom: 30px;
}
.container1 h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  color: #5f5f5f;
}
.shoe img,
.shoe1 img,
.shoe2 img {
  width: 150px;
  height: 150px;
}
.shoe,
.shoe1,
.shoe2 {
  background-color: white;
  margin-right: 70px;
  margin-left: 60px;
  margin-top: 20px;
  padding-left: 35px;
  padding-top: 20px;
}
.shoe p,
.shoe1 p,
.shoe2 p {
  text-transform: capitalize;
  text-align: left;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.2;
  color: #5f5f5f;
  margin-top: 5px;
}
.footer {
  background-color: #0066f5;
  padding-top: 50px;
}
.foot {
  display: block;
  margin: 0px 60px 0px 30px;
}
.footer-link {
  margin-left: 30px;
  list-style: none;
  margin-top: 2px;
}
.footer-link a {
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fcf8f8;
}
.news {
  margin-top: 15px;
  margin-left: 20px;
}
.news p {
  color: #ebebeb;
  text-transform: capitalize;
  font-size: 12px;
}
.news button {
  color: #0066f5;
  background-color: #ebebeb;
  border-radius: 0px;
  border: solid 1px;
  font-size: 12px;
}
.news input {
  padding: 2px;
}
::placeholder {
  color: #0066f5;
  font-size: 12px;
}
.social {
  margin-top: 20px;
  margin-left: 20px;
}
.social h2 {
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  margin: 10px;
  text-transform: capitalize;
}
.social img {
  width: 25px;
  height: 21px;
  font-size: 12px;
}
.copy {
  color: white;
  margin-left: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  padding: 0px 80px 0px 60px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    height: 70px;
    align-items: center;
  }
  .logo img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
  }
  .nav-link {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: auto;
    margin-left: 150px;
  }
  .nav-link a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    padding-right: 25px;
    margin-top: 10px;
  }
  .container img {
    width: 300px;
    height: 200px;
  }
  .price {
    float: right;
    width: 40%;
    margin: -180px 10px 0px 10px;
    line-height: 30px;
  }
  .price input {
    font-size: 10px;
    width: 50px;
  }
  .desc {
    margin: 5px 0px 0px 30px;
  }
  .shoe img,
  .shoe1 img,
  .shoe2 img {
    width: 100px;
    height: 100px;
  }
  .shoe,
  .shoe1,
  .shoe2 {
    background-color: white;
    padding-right: 10px;
    padding-left: 40px;
    margin-right: 1000px;
    margin-left: 80px;
    width: 200px;
  }
  .grid-container {
    display: grid;
    grid-column-gap: 4px;
    grid-template-columns: 250px 250px;
    margin: 50px 10px 0px 10px;
  }
  .shoe p,
  .shoe1 p,
  .shoe2 p {
    font-size: 14px;
  }

  .footer-link {
    width: 190px;
  }
  .footer-link a {
    font-size: 12px;
  }
  .news {
    margin-top: -50px;
    margin-left: 300px;
    width: 250px;
  }
  .social {
    margin-top: -5px;
    margin-left: 295px;
    width: 190px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo img {
    width: 80px;
    height: 80px;
    margin-left: -50px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .container img {
    width: 350px;
    height: 350px;
    padding: 4px;
    margin: 80px 0px 0px 100px;
  }
  .price {
    float: right;
    margin: -300px 300px 0px 10px;
    line-height: 40px;
  }
  .price h1 {
    font-size: 25px;
    font-weight: bold;
    padding-right: -300px;
    width: 90%;
  }
  .price p{
    font-size: 22px;
    margin-top: 17px;
    line-height: 1.23;
  }
  .price input{
    width: 76px;
  height: 37px;
  font-size: 16px;
  }
  button{
    padding: 10px;
    border-radius: 12px;
    margin-top: 25px;
  }
    .desc{
        margin: 5px 0px 0px 100px;
  }
  .desc h2{
   font-size: 24px;
  }
  .desc p{
      padding-right: 200px;
  }
  .shoe img,.shoe1 img ,.shoe2 img{
    width: 250px;
    height: 250px;

}
.shoe, .shoe1 ,.shoe2{
    
    background-color: white;
    padding-right: 300px;
    padding-left: 50px;
   
}
.grid-container{
    display: grid;
    grid-column-gap: 300px;
    grid-template-columns: 100px 100px 100px;
    margin: 50px 100px 0px 20px;
}
.shoe p ,.shoe1 p, .shoe2 p{
    padding: 4px 10px 0px 5px;
    width: 200px;
    text-align: center;
}
.foot{
    display: grid;
    grid-column-gap: 70px;
    grid-template-columns:  150px 250px 250px;
    margin: 50px 100px 0px 100px;
}
.footer-link{
    margin-top: -60px;
    font-size: 18px;
    
}
.social{
    margin-left: 450px;
    margin-top:-35px;
    
}
.copy{
    color: white;
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 18px;
    text-align: center;
    
}
}
