* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
nav {
  background-color: #0066f5;
  height: 190px;
  width: auto;
}
.logo img {
  width: 90px;
  height: 90px;
  margin-left: 20px;
  margin-top: 15px;
}
.nav-link {
  list-style: none;
  margin-left: -8px;
  margin-right: -50px;
}
.nav-link a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
  margin-left: 40px;
}
.top {
  text-align: center;
  width: 50%;
  margin-left: 125px;
  margin-top: 20px;
}
.top h1 {
  color: #0066f5;
  font-size: 18px;
  width: 50%;
  margin-left: 55px;
}
.top p {
  font-size: 14px;
}
.form p {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  margin-left: 60px;
  padding-right: -10px;
  padding-left: -30px;
  width: 70%;
}

.forms {
  margin: 40px 0px 0px 20px;
  border-radius: 10px;
}
fieldset {
  border: 1px solid black;
  border-radius: 10px;
  height: 690px;
  width: 70%;
  margin-left: 70px;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-right: -10px;
}
label {
  margin-left: 30px;
  padding-top: 30px;
  margin-top: 70px;
  font-weight: lighter;
}
input {
  margin-left: 30px;
  border-radius: 6px;
  width: 70%;
  height: 6%;
  margin-bottom: 20px;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
label[for='checkbox'] {
  color: #0066f5;
  font-size: 14px;
  margin-left: 10px;
}
fieldset > button {
  margin-left: 120px;
  padding: 10px 20px;
  background-color: #0066f5;
  color: white;
  border-radius: 6px;
  border: none;
}
.footer {
  background-color: #0066f5;
  padding-top: 50px;
  width: auto;
}
.foot {
  display: block;
  margin: 0px 60px 0px 30px;
}
.footer-link {
  margin-left: 20px;
  list-style: none;
  margin-top: 2px;
}
.footer-link a {
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fcf8f8;
}
.news {
  margin-top: 15px;
  margin-left: 20px;
}
.news p {
  color: #ebebeb;
  text-transform: capitalize;
  font-size: 12px;
  margin-left: 40px;
}
.news button {
  color: #0066f5;
  background-color: #ebebeb;
  border-radius: 0px;

  font-size: 14px;
  padding: 8px;
}
.news input {
  padding: 2px;
}

.social {
  margin-top: 20px;
  margin-left: 20px;
}
.social h2 {
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  margin: 10px;
  text-transform: capitalize;
}
.social img {
  width: 25px;
  height: 21px;
  font-size: 12px;
}
.news button {
  text-transform: uppercase;
}
.news > input {
  padding: 8px;
}
.copy {
  color: white;
  margin-left: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  padding: 0px 80px 0px 60px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    overflow: hidden;
  }
  .nav-link {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin-left: 100px;
  }
  .nav-link a {
    letter-spacing: 1px;
    font-size: 12px;
    padding-right: 25px;
    margin-top: 10px;
  }
  .top {
    text-align: center;
    width: 50%;
    margin-left: 165px;
    margin-top: 20px;
  }
  .top h1 {
    width: 60%;
    margin-top: 30px;
  }
  fieldset {
    margin-left: 100px;
  }
  input {
    width: 80%;
  }
  input[type='checkbox'] {
    width: 40px;
    height: 20px;
    margin-top: 20px;
    margin-left: 50px;
  }
  label[for='checkbox'] {
    color: #0066f5;
    font-size: 16px;
    margin-left: 10px;
  }
  .news {
    margin-top: -50px;
    margin-left: 50px;
    padding-left: 20px;
    float: right;
    width: 70%;
  }
  .news > input {
    width: 50%;
  }
  ::placeholder {
    font-size: 10px;
  }

  .social {
    margin-left: 240px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 992px) {
  .top {
    text-align: left;
    width: 30%;
    margin-left: 45px;
    margin-top: 220px;
  }
  .top h1 {
    width: 60%;
    margin-top: 30px;
    font-size: 24px;
    margin-left: -1px;
  }
  .top p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.2;
  }
  .forms {
    margin-left: 300px;
    margin-top: -380px;
    width: 80%;
    height: 70%;
    padding-left: -20px;
  }
  input {
    width: 80%;
  }
  .form > p {
    margin-left: -70px;
    margin-top: 50px;
    width: 50%;
    font-size: 18px;
  }
  fieldset > button {
    padding: 15px 60px;
  }
  .social {
    width: 20%;
    float: right;
    margin-top: -70px;
  }
}
@media screen and (min-width: 1200px) {
  .top {
    margin-left: 165px;
  }
  .form > p {
    margin-left: -40px;
    margin-top: 50px;
    width: 50%;
    font-size: 18px;
  }
  .forms {
    margin-left: 600px;
    margin-top: -380px;
    width: 60%;
    height: 70%;
    padding-left: -20px;
  }
  input[type='checkbox'] {
    margin-top: 20px;
    margin-left: 120px;
  }
  fieldset > button {
    margin-left: 170px;
  }
}
