* {
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: 1134px;
    background-color: #ffffff;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 10px 10px 10px 27px;
    line-height: 1.7;
    background-color: olive;
    color: white;
    position: absolute;
}

#logo {
    width: 67px;
    height: 27px;
    margin: 6.3px 700px 7px 0;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.header {
    width: 1440px;
    height: 70px;
    margin: 0 0px 50px 0;
    padding: 14.7px 57.7px 15px 51px;
    background-color: #0359a1;
    position: relative;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*#product {
    width: 80x;
    height: 19px;
    margin: 12.3px 50px 9px 600px;
    position: absolute;
    top: 25px;
    left: 
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

#contact {
    width: 88px;
    height: 19px;
    margin: 0px 800px 500px;
    position: absolute;
    top: 30px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

#signup {
    width: 64px;
    height: 10px;
    margin: 12.3px 20.3px 9px 86px;
    position: absolute;
    top: 25px;
    right: 120px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}*/

.gridy1 {
    display: grid;
    grid-template-columns: grid;
  }

.product1 {
    width: 423px;
    height: 30px;
    margin: 64px 454px 17px 43px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
  }

.brand1 {
    width: 195px;
    height: 27px;
    margin: 17px 682px 10px 43px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
  }

.word1{
    width: 107px;
    height: 27px;
    margin: 17px 12px 17px 43px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
  }

#quantity {
    width: 60px;
    height: 47px;
    margin: 10px 600px 4px 12px;
    padding: 11px 64px 12px 22px;
    border: solid 1px #707070;
    background-color: #ffffff;
  }

.price1 {
    width: 121px;
    height: 27px;
    margin: 4px 756px 16px 43px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
  }

#buy1 {
    width: 174px;
    height: 64px;
    margin: 16px 703px 21px 43px;
    padding: 19px 25px 18px 33px;
    border-radius: 20px;
    background-color: #f79521;
  }

.buy2 {
    width: 116px;
    height: 27px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

.shorts {
    width: 469px;
    height: 254px;
    margin: 50px 43px 23px 51px;
    object-fit: contain;
    border: solid 1px #707070;
  }

.description {
    width: 159px;
    height: 27px;
    margin: 21px 346px 8px 58px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
  }

.actual {
    width: 1305px;
    height: 49px;
    margin: 8px 78px 28px 57px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
  }

.gridy {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cell {
    padding: 50px;
    background-color: blueviolet;
    color: rgb(221, 208, 199);
    border: 10px solid white;   
}

.short {
    height: auto;
    width: auto;
}


