:root {
    --success-color:#2ecc71;
    --error-color: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
    background-color: #f765a3;
}

.menu > h1{
    color: #fff;
    font-size: 22px;
    line-height: 1.23;
}

nav{
    margin-left: -20rem;
    width: 35%;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 1.19;
}
    /* contact */
.contact {
    display: flex;
    margin: 20px 80px ;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    color: #5f5f5f;
}

.contact-details{
    width: 45%;
}
.contact-details > div {
    margin-bottom: 20px;
    text-align: center;
}

.contact-details > div:last-child {
    margin-bottom: 0;
}

.contact-media {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.contact-media li {
    list-style: none;
}

.contact-media img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.contact-items > img {
    margin-bottom: 15px;
}

.contact-items > h3 {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1.25px;
}

.contact-items p {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 1.25px;
}

.form-field {
    width: 50%;
}

.form-field div:first-child {
    text-align: center;
}

.form-field div:first-child h3 {
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 1.25px;
}

.form-field  fieldset {
    padding: 40px;
    position: relative;
}

fieldset img {
    margin-bottom: 15px;
}

fieldset h3 {
    margin-bottom: 12px;
}

.form-item {
    margin-bottom: 20px;
}
small {
    color: var(--error-color);
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
}

.form-field [type=email],[type=text] {
    width: 100%;
    padding: 10px 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid #707070;
}

textarea {
    margin-top: 15px;
    resize: none;
    width: 100%;
    margin-bottom: 10px;
}

.form-field [type=submit] {
    background-color: #f765a3;
    border: none;
    outline: none;
    color: #fff;
    padding: 20px;
    margin-left: 75%;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.67;
}

   /* footer */
footer{
    background-color: #f765a3;
    padding: 15px 28px 15px;
    color: #fff;
    font-size: 18px;
    line-height: 1.22;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer li{
    list-style: none;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer-link li{
    margin-bottom: 12px;
}
.footer-form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.footer-form [type=email] {
    padding: 0.9rem;
    outline: none;
    border: none;
    width: 95%;
}

.newletter-form label{
    display: block;
}

footer ::placeholder{
    color: #f765a3;
    font-size: 16px;
    line-height: 1.19;
}

.footer-form [type=submit] {
    background-color: #fff;
    padding: 0.71rem;
    outline: none;
    border: none;
    color: #f765a3;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    cursor: pointer;
    align-self: flex-start;
}

.media p {
    margin-bottom: 15px;
}

.social-media {
    display: flex;
}

.social-media img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

footer > p{
    text-align: center;
    margin-top: 28px;
}

@media screen and (max-width: 767px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    nav li {
        display: block;
        margin-bottom: 15px;
    }
    nav li:last-child {
        margin-bottom: 0;
    }
    nav{
        margin-left: 0;
        margin-top: 18px;
    }
    .contact {
        flex-direction: column;
    }
    .contact-details {
        width: 100%;
    }
    .form-field {
        margin-top: 20px;
        width: 100%;
    }
    .form-field [type=submit] {
        margin-left: 25%;
    }
    .footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer > div {
        margin-bottom: 12px;
    }
    .footer-form [type=email]{
        width: 50%;
        margin-right: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact {
        flex-direction: column;
    }
    .contact-details {
        width: 100%;
    }
    .form-field {
        margin-top: 15px;
        width: 100%;
    }
    .footer {
        flex-wrap: wrap;
    }
    .footer > div {
        width: 40%;
        margin-bottom: 18px;
    }
    .footer-form [type=email]{
        width: 50%;
        margin-right: 10px;
    }
}