* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
    background-color: #f765a3;
}

.menu > h1{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.23;
}

nav{
    margin-left: -20rem;
    width: 35%;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-right: 6%;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.19;
}

.slidder {
    margin: 2% 0;
    padding: 0 2rem;
}

.slidder h2 {
    text-align: center;
    color: #5f5f5f;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
}

.services {
    padding: 2% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9e9e5;
    color: #5f5f5f;
}

.product{
    width: 50%;
}

.prod1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod1 img{
    width: auto; 
    height: 100%;
    object-fit: contain; 
}

.quantity input{
    width: 20%;
    padding: 3%;
    margin-left: 3%;
    border: none;
    outline: none;
}

.product-info h3{
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
}

.product-info .quantity{
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.23;
}

.product-info p{
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
}

.product-info button{
    background-color: #f765a3;
    padding: 7%;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
}

.prod-details{
    margin-top: 5%;
    width: 80%;
}

.prod-details h3{
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.23;
}

.prod-details p{
    line-height: 1.375rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.25;
}

.related-items {
    padding: 2% 0 3%;
    color: #5f5f5f;
}

.related-items h3{
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
}
.related-items .items-list{
    padding: 3%;
    background-color: #f9e9e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items{
    width: 25%;
    background-color: #fff;
    padding: 3%;
}
.items img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.items p{
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.23;
}
    /* footer */
footer{
    background-color: #f765a3;
    padding: 2% 3% 2%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.22;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer li{
    list-style: none;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer-link li{
    margin-bottom: 7%;
}

.footer-form [type=email] {
    margin-top: 7%;
    padding: 0.9rem;
    outline: none;
    border: none;
}

footer ::placeholder{
    color: #f765a3;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.19;
}

.footer-form [type=button] {
    background-color: #fff;
    padding: 0.71rem;
    outline: none;
    border: none;
    color: #f765a3;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
}

.media p {
    margin-bottom: 7%;
}

.social-media {
    display: flex;
}

.social-media img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

footer > p{
    text-align: center;
    margin-top: 5%;
}

@media screen and (max-width: 767px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    nav li {
        display: block;
        margin-bottom: 7%;
    }
    nav li:last-child {
        margin-bottom: 0%;
    }
    nav{
        margin-left: 0rem;
        margin-top: 5%;
    }
    .services {
        flex-direction: column;
        align-items: flex-start;
    }
    .product{
        width: 100%;
        margin-top: 5%;
    }
    .prod1 {
        flex-direction: column;
        align-items: flex-start;
    }
    .product-info{
        margin-top: 5%;
    }
    .prod-details{
        width: 100%;
    }
    .related-items .items-list{
        padding: 10%;
        flex-direction: column;
        align-items: flex-start;
    }
    .items{
        width: 100%;
        padding: 10%;
        margin-top: 10%;
    }
    .footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer > div {
        margin-bottom: 8%;
    }
    .footer-form [type=email]{
        width: 50%;
        margin-right: 3%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    nav{
        margin-left: -10rem;
    }
    .services {
        flex-direction: column;
        align-items: flex-start;
    }
    .product {
        width: 100%;
    }
    .product:last-child {
        margin-top: 5%;
    }
    .prod-details{
        width: 90%;
    }
    .related-items .items-list{
        flex-wrap: wrap;
    }
    .items{
        width: 40%;
        margin-bottom: 4%;
    }
    .footer {
        flex-wrap: wrap;
    }
    .footer > div {
        width: 40%;
        margin-bottom: 8%;
    }
    .footer-form [type=email]{
        width: 50%;
        margin-right: 3%;
    }
}