* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
    background-color: #f765a3;
}

.menu > h1{
    color: #fff;
    font-size: 22px;
    line-height: 1.23;
}

nav{
    margin-left: -20rem;
    width: 35%;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 1.19;
}
    /* register account */
.container {
    display: flex;
    margin: 3% 7% ;
    justify-content: space-between;
    align-items: center;
    color: #5f5f5f;
}

.register-intro {
    width: 40%;
    margin: auto;
}
.register-account {
    width: 50%;
}
.register-intro h3 {
    margin-bottom: 3%;
    color: #f765a3;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.22;
}
.register-intro p {
    margin-bottom: 3%;
    font-size: 30px;
    line-height: 1.23;
    text-align: left;
}

.register-account form{
    border: 1px solid #5f5f5f;
    border-radius: 20px;
    padding: 7%;
    width: 100%;
}
.form-content {
    margin-bottom: 3%;
}
.form-content label {
    font-size: 18px;
    line-height: 1.23;
}

form div:last-child {
    text-align: center;
}

.form-content  [type=text],[type=number],[type=password] {
    width: 100%;
    padding: 3% 5%;
    outline: none;
    border: 1px solid #707070;
    border-radius: 10px;
}

.form-content  [type=email] {
    width: 100%;
    padding: 3% 5%;
    outline: none;
    border: 1px solid #707070;
    border-radius: 10px;
}

.sign-up label {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
}
.sign-up [type=submit] {
    background-color: #f765a3;
    border: none;
    outline: none;
    color: #fff;
    padding: 3%;
    border-radius: 5px;
    margin-top: 2%;
    width: 40%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.67;
}

   /* footer */
footer{
    background-color: #f765a3;
    padding: 15px 28px 15px;
    color: #fff;
    font-size: 18px;
    line-height: 1.22;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer li{
    list-style: none;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer-link li{
    margin-bottom: 12px;
}

.footer-email {
    margin-top: 14px;
    padding: 0.9rem;
    outline: none;
    border: none;
}
footer ::placeholder{
    color: #f765a3;
    font-size: 16px;
    line-height: 1.19;
}
.footer-form [type=button] {
    background-color: #fff;
    padding: 0.71rem;
    outline: none;
    border: none;
    color: #f765a3;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
}

.media p {
    margin-bottom: 15px;
}

.social-media {
    display: flex;
}

.social-media img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

footer > p{
    text-align: center;
    margin-top: 28px;
}

@media screen and (max-width: 767px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    nav li {
        display: block;
        margin-bottom: 7%;
    }
    nav li:last-child {
        margin-bottom: 0;
    }
    nav{
        margin-left: 0;
        margin-top: 18px;
    }
    .container{
        flex-direction: column;
    }
    .register-intro {
        width: 83%;
    }
    .register-intro h3 {
        text-align: center;
    }
    .register-intro p {
        text-align: center;
    }
    .register-account {
        margin-top: 3%;
        width: 100%;
    }
    .footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer > div {
        margin-bottom: 8%;
    }
    .footer-form [type=email]{
        width: 50%;
        margin-right: 3%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container{
        flex-direction: column;
    }
    .register-intro {
        width: 83%;
    }
    .register-intro h3 {
        text-align: center;
    }
    .register-intro p {
        text-align: center;
    }
    .register-account {
        margin-top: 3%;
        width: 100%;
    }
    .footer {
        flex-wrap: wrap;
    }
    .footer > div {
        width: 40%;
        margin-bottom: 8%;
    }
    .footer-form [type=email]{
        width: 50%;
        margin-right: 3%;
    }
}