 @media  only screen and (max-device-width: 768px) {
    *{
            margin: 0;
            border: 0;
            box-sizing: border-box;
    }
    #header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: yellowgreen;
        padding: 10px;
        margin-bottom: 30px;
        font-family: 'Montserrat', sans-serif;
        color:white; 
    }
    #nav{
        display: flex;
        width: 50%;
        line-height:1.5;
        justify-content:space-evenly
    }
    body{
        font-size:20px;
        margin-left:40px;
        font-family:'Montserrat', sans-serif;
    }
    nav a {
        text-decoration: none;
        color: white;
    }
    #col1 {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: row;
        line-height: 2;
    }
    #col2 {
        margin-right: 100px;
        font-size:23px;
    }
    }
   #image {
        border: solid 1px;
        color: white;
        width: 300px;
        height: 200px;
        background: white;
    }
    #quantity {
        border:solid 1px;
        color: black;
        width: 40px;
        height: 20px;
        margin: 10px;
    }
    #button {
        border: solid 1px;
        margin: 10px;
        width: 80px;
        height:30px;
        background-color: green;
        color:white;
        padding: 5px;
        border-radius: 10px;
    }
    #product {
        padding: 10px;
    }
    #note {
        font-size:30px;
        line-height:1.25;
    }
    .RelProd {
        margin-top: 30px;
        text-align: center;
        background-color: #ebebeb;
    } 