* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: grey;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}


/*Header*/

.navbar {
    overflow: hidden;
    background-color: #a79edd;
    padding: 25px 4em 0 20px;
    line-height: 55px;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    color: white;
    line-height: 25px;
    text-decoration: none;
}

.navbar-link {
    float: right;
}


/* 2-column */

.first-banner {
    background: #fff;
    overflow: hidden;
}

.sub-banner {
    margin-top: 30px;
    overflow: hidden;
}

.banner-left img {
    width: 350px;
    display: block;
}

.banner-left,
.banner-right {
    float: left;
}

.banner-right input {
    width: 40px;
    padding: 10px;
}

input.quantity {
    width: 100px;
}

.banner-right {
    width: 60%;
    margin-left: 25px;
}

.banner-left {
    width: 26%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
}

.banner-right h1,
.banner-right h4 {
    padding: 3px;
    margin: 7px;
}

.error-block {
    color: red;
    display: none;
}

.buy-button {
    width: 120px;
    height: 60px;
    border-radius: 5px;
    background-color: #d4dd9e;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.description {
    padding: 5px;
    margin-left: 40px;
    text-align: justify;
}

.Three-banner {
    background-color: lightgrey;
    overflow: hidden;
}

.Three-banner h2 {
    text-align: center;
}

.banner-1 {
    float: left;
    width: 25%;
    margin: 20px 0 20px 65px;
    background-color: #fff;
    overflow: hidden;
    padding: 22px;
}

.banner-1 img {
    height: 150px;
    margin: 30px auto;
    display: block;
}

.banner-1 p {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


/* footer*/

.main-footer {
    background-color: #a79edd;
    overflow: hidden;
}

.first-column a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.first-column ul {
    list-style: none;
}

.first-column,
.second-column,
.third-column {
    float: left;
    width: 33.3%;
    color: #fff;
    margin-bottom: 30px;
}

.second-column,
.third-column {
    font-size: 10px;
}

.first-column {
    font-size: 20px;
}

.main-footer p {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    color: #fff;
}

.second-column input {
    margin-top: 2px;
    height: 30px;
    border: 1px solid #555;
}

::placeholder {
    color: #a79edd;
    font-size: 14.7px;
}

.second-column #footer-signup-btn {
    color: #a79edd;
    font-weight: bold;
}

.third-column img {
    width: 35px;
    height: 30px;
    margin-right: 7px;
}


/* @media query */

@media screen and (max-width: 650px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
        padding: 4px;
    }
    .navbar-link {
        float: none;
    }
    /* link second-column */
    .banner-left,
    .banner-right {
        float: none;
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .banner-left img {
        width: 250px;
        height: 180x;
        padding-left: 0px;
        margin-left: 0px;
    }
    .banner-right h1,
    .banner-right h4 {
        font-size: 18px;
    }
    .banner-1 {
        width: 100%;
        margin: auto 0;
    }
    .description {
        width: 80%;
    }
    /* main-footer*/
    .first-column,
    .second-column,
    .third-column {
        float: none;
        display: block;
        font-size: 10px;
    }
    .first-column {
        font-size: 15px;
    }
    .second-column,
    .third-column {
        width: 100%;
        float: right;
        padding-left: 40px;
        padding-bottom: 20px;
    }
    .first-column {
        padding-right: 40px;
    }
    .second-column h1,
    .third-column h1 {
        font-size: 16px;
    }
    .main-footer p {
        margin-top: 20px;
        margin-top: 20px;
        padding-left: 40px;
        padding-bottom: 30px;
        font-size: 19px;
    }
    .third-column img {
        width: 40px;
        height: 35px;
    }
}


/* @media query */

@media screen and (max-width: 800px) {
    /* Three-column */
    .product1,
    .product2 {
        width: 42%;
        float: left;
        margin: 30.7px;
    }
    .product3 {
        float: none;
        width: 42%;
        margin: 30.7px;
        display: block;
    }
    /* Two-column */
    .banner-left img {
        width: 250px;
    }
    .banner-right h1,
    .banner-right h4,
    .description p {
        font-size: 20px;
    }
    .banner-right {
        padding-left: 20px;
    }
    .description {
        padding-left: 7px;
        padding-right: 7px;
    }
    /* footer */
    .first-column,
    .second-column {
        width: 50%;
        float: left;
    }
    .third-column {
        float: none;
        margin-left: 38px;
    }
    .second-column input {
        height: 42px;
    }
     ::placeholder {
        font-size: 14.7px;
    }
    .main-footer p {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 30px;
    }
}


/*@media query */

@media screen and (max-width: 500px) {
    .product1,
    .product2,
    .product3 {
        width: 82%;
        margin: 30.7px;
        display: block;
    }
    .first-column,
    .second-column,
    .third-column {
        width: 82%;
        margin-top: 8px;
        display: block;
    }
    .third-column {
        padding-left: 5px;
    }
}